[2018-01-24 13:18] nkrmr opened #1 "Not working"
I implemented your service but i still have the timeout error on Android.
I use RN version 52 on Android 6.0

[2018-01-24 13:41] Agontuk commented on #1
Hello, can you try the example project and see if it works? Also which device are you using? Does it have a stock rom or other custom roms ?

[2018-01-24 14:23] soulso commented on #1
I try the example and i have the same issue. I use a HUAWEI GRA-UL00.
You can check the example result and the phone properties:
![img_2981](https://user-images.githubusercontent.com/686395/35337044-7333c2b4-011a-11e8-92af-3abc399c9ed3.jpg)
![img_2980](https://user-images.githubusercontent.com/686395/35337045-734a59ac-011a-11e8-9d2a-cf490f71aad9.jpg)

[2018-01-24 15:14] Agontuk commented on #1
Can you try getting location with other apps such as Google Maps and see if it works ?

[2018-01-24 16:28] soulso commented on #1
Yes it works when i use Google map and geolocation because he fill up the GPS cache of the phone. But how i can have geolocation without use GPS cache?

[2018-01-24 17:16] Agontuk commented on #1
what's the timeout value, also are you using high accuracy? Can you increase the timeout and see if it still returns timeout error ?

[2018-01-25 14:01] soulso commented on #1
I have the same result with a high timeout, i use :
{ enableHighAccuracy: true, timeout: 200000, maximumAge: 10000 },

I have the same issue with an S8 phone. I generated a logcat if you to see what appends.

[logcat.txt](https://github.com/Agontuk/react-native-geolocation-service/files/1664219/logcat.txt)

Best regards

[2018-01-25 18:24] Agontuk commented on #1
I took a look at the log but didn't find anything useful to understand the actual issue, except for this line
[code]

The main problem with android devices is that in most of them gps issue exist. I also had timeout issue on my Xiaomi device, but it got fixed after software update. The devices you're testing with (Huawei P8/ Samsung S8), both seem to have this issue too, reported by many users. If

[2018-01-31 06:27] Shhzdmrz opened #2 "Is there any limitation for this package for the android platform version?"
Hello,
First of all thank you so much for this awesome plugin for android as I was dealing with timeout problem with navigator.geolocation.

As you are using this condition in your example `Platform.Version < 23` so what is that mean? Is there any limitation for this plugin? I am not an android developer but learning react native so could you please explain this.

thank you in advance.

[2018-01-31 07:25] Agontuk commented on #2
No, it's not a limitation. Android runtime permission is only needed for API level 23 or above, below that permissions are automatically granted during app installation. That check is only to make sure app has location permission before making a location request.

[2018-01-31 07:30] Shhzdmrz commented on #2
ahh great thanks man.

[2018-01-31 19:37] #2 closed

[2018-02-07 15:59] AngSin opened #4 "My app keeps crashing after manually linking the library"
Hi my app keeps crashing these are the details:

classpath 'com.google.gms:google-services:3.1.0'

"react": "16.0.0-alpha.12"
"react-native": "^0.46.4"

My targetedSDKVersion is 23

I have made the changes in the MainApplication.java android/app/build.gradle and settings.gradle files. Any ideas?

[2018-02-07 16:15] Agontuk commented on #4
Provide a crash log otherwise I won't know what happened.

[2018-02-07 18:27] AngSin commented on #4
Alright, thanks for the quick reply any ideas on how I can log this crash? Do I have to use an external service like Crashlytics? I'm sorry I'm quite new at android development

[2018-02-08 13:06] Agontuk commented on #4
In terminal, run `adb shell logcat "*:E" "*:S"`, then launch the app. If it crashes, there'll new logs in terminal.

[2018-02-08 18:08] AngSin commented on #4
This isn't giving me a log maybe because my app is crashing right after. I ran `adb logcat` instead and it gave a huge log

02-08 21:05:26.123 12483 12494 W PkgUtils: p: com.meshedu, u:0
02-08 21:05:26.131  2383  2383 D SurfaceFlinger:   Display[0] configurations (* current):
02-08 21:05:26.131  2383  2383 D SurfaceFlinger:     * 0: 720x1280, xdpi=294.967010, ydpi=306.716003, refresh=16666666
02-0

[2018-02-09 06:42] Agontuk commented on #4
You're probably using other google play service libraries that are using different versions. You need to use the same version for all google play service plugin. Can you share which libraries you are using in your project ?

[2018-02-09 06:52] AngSin commented on #4
Thanks for helping out, these are the android dependencies I'm using:

dependencies {
    compile project(':react-native-geolocation-service')
    compile project(':react-native-fetch-blob')
    compile project(':react-native-android-location-services-dialog-box')
    compile project(':react-native-android-settings-library')
    compile project(':react-native-open-setting')
    compile project(':r

[2018-02-09 07:23] Agontuk commented on #4
Check if this works for you.

[code]

[2018-02-09 07:29] AngSin commented on #4
Thanks for the quick replies! it still is crashing instantly saying "App has stopped working" on my phone.

This is the logcat

--------- beginning of crash
--------- beginning of system
--------- beginning of main

[2018-02-09 07:39] Agontuk commented on #4
Can you try checking the logs again? Try with `adb shell logcat` and when app crashes you'll see bunch of new logs. Just copy the relevant log and post it here.

[2018-02-09 07:42] AngSin commented on #4
Here you go:

`I/ActivityManager(  629): START u0 {act=android.intent.action.MAIN cat=[android.intent.category.LAUNCHER] flg=0x10200000 cmp=com.meshedu/.MainActivity (has extras)} from uid 10013 on display 0
D/LauncherLog( 1278): Launcher:: startActivity: pkg: com.meshedu clz: com.meshedu.MainActivity
D/hwcomposer(  243): bool android::intel::HwcLayerList::setupSmartComposition2(): Exit Smart Comp

[2018-02-09 07:49] AngSin commented on #4
Would information before this java class rejection error be useful to you too?

[2018-02-09 07:52] Agontuk commented on #4
Did you run `react-native run-android` after updating the build.gradle file ? You need to build again after any native change. Also just to be sure, please clone the repo and check if the example project works on your end.

[2018-02-09 07:57] AngSin commented on #4
Yes I ran `react-native run-android` after linking the library. Alright I will do that and get back to you

[2018-02-09 08:01] Agontuk commented on #4
No, I meant after applying the dependencies change I posted earlier.

[2018-02-09 08:07] AngSin commented on #4
Yes I did that too, just built it again to recheck it, and it's still crashing

[2018-02-09 08:27] AngSin commented on #4
The example app does not crash on my phone but it's location request keeps timing out (I tried being outdoors and tested it too).

[2018-02-09 09:01] Agontuk commented on #4
Which device are you using for testing?

[2018-02-09 09:13] AngSin commented on #4
I am using Samsung Galaxy J5 Prime with Android Version 7.0

[2018-02-09 12:10] antonsivogrivov commented on #1
Same for me here

[2018-02-09 12:16] antonsivogrivov commented on #1
I test on MEIZU MX5, sometimes it works fine, but more often it's not.

[2018-02-09 12:25] Agontuk commented on #4
Try disabling power saving, `Access battery settings > app power saving > details > Your App > disabled` and see if it helps. Also check the log after clicking `Get Location` button and post it here.

[2018-02-12 17:45] AngSin commented on #4
Hi, apologies for the late response. I tried my best to fix this error and changed every occurrence of play-services to 11.8.0 and this is the result of `cd android && ./gradlew app:dependencies`.

+--- project :react-native-geolocation-service
|    \--- com.android.support:appcompat-v7:25.0.1
|         +--- com.android.support:support-v4:25.0.1 -> 26.0.1
|         |    +--- com.android.support:su

[2018-02-13 06:31] Agontuk commented on #4
react-native-camera seems to also use play service plugin. Can you try this instead:

[code]

If this doesn't work, try to create a demo repository with this issue so I can clone it & test.

[2018-02-14 16:03] AngSin commented on #4
Hi could running this library on a previous react-native version be an issue?

[2018-02-14 18:58] AngSin commented on #4
I

[2018-02-14 18:58] #4 closed

[2018-02-15 04:08] AngSin opened #5 "Location request timed out"
Hi Agontuk, I hope I'm doing something wrong, I cloned the repository, `cd example && npm i`

I have turned on the high accuracy location service on my phone and allowed the example app to access my location but I'm getting error code 3, "Location request has timed out." when running the app (same behaviour as React Native's Geolocation API). Did I miss a step?

[2018-02-15 06:33] Agontuk commented on #5
Probably not, many devices have this issue. I've added a [FAQ](https://github.com/Agontuk/react-native-geolocation-service#faq) section for some possible solution, check if it helps you. Also try with `enableHighAccuracy: false, distanceFilter: 0`.

[2018-02-15 09:41] kholiavko-roman commented on #5
@Agontuk I found an issue: if I setup location mode settings in 'Power Save mode' or 'Device Only', when I press the button to get location, plugin show dialog window: that for better result I need enable 'High accuracy mode', but if I press "Ok" - location always will return error 'Location time out'
But if I reinstall example application and run it with enabled 'High accuracy' mode - all works f

[2018-02-15 10:49] Agontuk commented on #1
Can you try adding `distanceFilter: 0` to the options and see if it helps ? I've added a FAQ section for some possible solutions, check if that helps.

[2018-02-15 10:53] Agontuk commented on #5
I tried to reproduce the issue, but it works fine on my Xiaomi Redmi Note 3 device. Can you try adding `distanceFilter: 0` to the options and see if it helps ?

[2018-02-15 11:59] kholiavko-roman commented on #5
I already try different configuration, and with this configuration it works if I enable  'Power Save mode'  in geolocation options (dialog window that asks to enable 'high accuracy' doesn't show in this case)
` { timeout: 15000, maximumAge: 10000, enableHighAccuracy: false, distanceFilter: 0 }`
But if I enable 'Device only' options in geolocation settings - this window shows, and it stops work - a

[2018-02-15 12:05] kholiavko-roman commented on #5
Maybe as temporary solution I can disable this window ? Can you help me please, how to disable it in code ?

[2018-02-15 12:16] tkalejaiye opened #6 "TypeError: Cannot read property 'getCurrentPosition' of undefined"
Apparently the Geolocation object for me is undefined. I followed the instructions for setting up for android, and I don't have this issue when running ios

[2018-02-15 12:38] kholiavko-roman commented on #5
I found the similar problem with google maps. I think I have a problem with device. But anyway thanks for helping!

[2018-02-15 15:04] Agontuk commented on #6
Did you run `run-android` command after setting it up? There's no other possible reason for this error I think.

[2018-02-21 19:12] Germanaz0 opened #7 "Error building package"
I am trying to generate a signed apk and upgraded gradle.

Now am getting the following error on this package.

[code]

[2018-02-22 10:09] Agontuk commented on #7
which RN version are you using ?

[2018-02-22 10:52] soulso opened #8 "Linter issue"
When i launched my linter test there is an issue it doesn't find the global.navigator from your package, for him it is undefined. But it works well in the application.

<img width="826" alt="screen shot 2018-02-22 at 11 46 42" src="https://user-images.githubusercontent.com/686395/36534402-bb8fb42e-17c6-11e8-923f-1123dacb7c81.png">

<img width="667" alt="screen shot 2018-02-22 at 11 49 20" src="htt

[2018-02-22 11:19] Germanaz0 commented on #7
Sorry I should close it, I upgraded gradle in my project, and other packages had the same issue, not a good idea to upgrade gradle...

[2018-02-22 11:19] #7 closed

[2018-02-22 15:14] Agontuk commented on #8
Not sure what's causing this, but you should only lint your own codes, not the ones in node_modules/*.

[2018-02-26 04:24] sandropoluan opened #9 "Crash when start up"
My App get crash when starting up.
This issue might be related with  react-native-smart-splash-screen.
But I post here because I was not have this issue until I use this lib.
[code]

After I uninstall this lib, everything back to normal.

[2018-02-27 16:34] devLaaziz commented on #9
+++

[2018-02-27 16:46] matthieupinte opened #10 "Recurring notification/alert"
Hi,

First, thanks for your work... you saved my app ^^ !

I'm just here to see if you got a solution, some of my users are answering "Cancel" when this popup/notif/alert appears... (sorry, screen in french)

![screenshot_20180227-173032](https://user-images.githubusercontent.com/2217014/36741428-5f94ba66-1be5-11e8-879e-626bea01fc5a.png)

It means :

If they press "Cancel", the popup reappear inst

[2018-02-27 17:49] Agontuk commented on #9
@sandropoluan, can you provide a demo which reproduces this issue? I tried integrating the library in my example project and it worked fine.

[2018-02-27 17:53] Agontuk commented on #10
If user cancel, you'll get an error object in the error callback with code 5. If the alert is appearing again, it means you're probably requesting location again on error callback. Check your code.

[2018-03-01 06:43] zsajjad opened #11 "Crash in release mode"
Our crashlytics console is showing this crash in production app.

[code]

[2018-03-01 10:09] Agontuk commented on #11
Can you provide the full log, along with which play service version is being used, android version etc ?

[2018-03-01 19:35] zsajjad commented on #11
Thanks for the library and special thanks for your prompt response.

build.gradle looks like
[code]

### About Devices
<img width="594" alt="screen shot 2018-03-02 at 12 32 50 am" src="https://user-images.githubusercontent.com/15834890/36865418-46f14394-1db1-11e8-9f21-420f870d1d7f.png">
<img width="365" alt="screen shot 2018-03-02 at 12 33 34 am" src="https://user-images.githubusercontent.com/1583

[2018-03-02 05:06] Agontuk commented on #11
Is this a consistent crash in release mode or only happening once or twice ?

[2018-03-02 05:08] zsajjad commented on #11
This issue has 6 crashes affecting 5 users out of 500 beta testers.

[2018-03-02 05:15] Agontuk commented on #11
Are you using proguard ?

[2018-03-02 05:16] zsajjad commented on #11
Yes we are using proguard.

[2018-03-02 08:27] zsajjad commented on #11
Will try to reproduce it at our end.

[2018-03-02 10:40] matthieupinte commented on #10
Yes, you're right, my bad...

[2018-03-02 10:55] matthieupinte commented on #10
You're right, I'm asking 2-3 times `getCurrentPosition`... this is not good.
I didn't see that before, because, when `navigator.geolocation.getCurrentPosition` failed in RN (because no permission granted), no "notifications"/alert are shown.
With your package, here, you're always asking user if he is agree by using `Google's location service` (cause it will change it's settings directly)...

I nee

[2018-03-05 07:06] Agontuk commented on #11
About the `unknown source`, you should setup crashlytics for proguard with the maaping.txt file generated during build. Then you'll get a proper crash log.

[2018-03-13 01:10] brunolemos opened #12 "Merge with react-native"
Maybe this should be in react-native official package?

[2018-03-13 06:53] Agontuk commented on #12
That wouldn't be viable, because it'll introduce google play service dependency in RN framework. Also even if someone doesn't use geolocation in their apps, it'll still get compiled when building the app.

But if they decide to merge it (highly unlikely), I'll gladly help.

[2018-03-13 07:19] brunolemos commented on #12
Ok. There isn't any PR there for discussion?

[2018-03-13 07:19] #12 closed

[2018-03-13 21:49] vendramini opened #13 "Crash: Illegal callback invocation from native modules"
Hi!

The app just crashed throwing this error:

[code]

It doesn't happens all the time, so I can't do a step-by-step debug.

[2018-03-14 15:55] Agontuk commented on #13
This probably happens when user keeps requesting location without waiting for the response of previous request. You should add a disabled/loading state in your button till the current request returns a result (error/success). Hopefully it'll solve the issue.

[2018-03-14 16:03] vendramini commented on #13
Hi, thanks for the response!

1. User opens the app, I do a request location.
2. Meanwhile the app is opened, I do a request inside a setTimeout.

The error happens on both situation: sometimes when I just open the app, sometimes by the time it's opened.

I will try to create a flag for request return.

Thanks.

[2018-03-14 16:26] Agontuk commented on #11
This should be fixed in `1.0.3`. CurrentActivity can sometimes be null, in that case it'll now invoke the error callback with code -1.

[2018-03-14 16:26] #11 closed

[2018-03-14 18:37] zsajjad commented on #11
Hey, Thanks a lot man.

[2018-03-29 16:51] vomchik commented on #13
@Agontuk Thanks. But could we manage this in the native module?

[2018-03-30 14:05] Agontuk commented on #13
A possible fix is to wrap the callback in a try/catch block and then ignore the error. I'll try it out and then do a new release.

[2018-04-03 09:51] kidmysoul opened #14 "Crash when app start : Illegal class access: 'com.google.android.gms.location.FusedLocationProviderClient'"
I followed every step in android and the build success but when app start I got this error:

`java.lang.IllegalAccessError: Illegal class access: 'com.google.android.gms.location.FusedLocationProviderClient' attempting to access 'com.google.android.gms.internal.zzbce' (declaration of 'com.google.android.gms.location.FusedLocationProviderClient' appears in /data/app/com.mynew.unlog-QrqAHGWseTtHezcO

[2018-04-04 05:57] Agontuk commented on #14
You probably have to set play-services-base to 11.0.0. Also try checking all the module dependencies via `./gradlew app:dependencies` and see if you missed any play service module.

[2018-04-04 13:25] zsajjad commented on #10
Can we make this prompt optional? I have a scenario where I want device's location only when location service is enabled else app will proceed without location data. With current flow, app waits at the very beginning unless user responds to this dialog.

[2018-04-05 15:36] #13 closed

[2018-04-05 15:38] Agontuk commented on #6
Closing due to inactivity.

[2018-04-05 15:38] #6 closed

[2018-04-05 16:17] Agontuk commented on #10
It's possible, I'll take a look. Maybe we can expose another option to disable the dialog like this -
[code]

[2018-04-08 01:45] kidmysoul commented on #14
@Agontuk  maybe you are right but now I have switched back to the RN geolocation so I cannot confirm whether it's right or not.But thank you for fast replay.

[2018-04-08 17:40] yairopro opened #15 ""Only one callback may be registered to a function in a native module""
My use of Geolocation
[code]
When the `maximumAge` option is set, the module throw the following error:
[code]

[2018-04-10 13:31] wynch opened #16 "Beware of time APIs..."
I was reading your module source code - I'm not using it currently - but I noticed something that might cause a bug...

This was inspired by this talk from Runkeeper developer : https://speakerdeck.com/pconno3/the-struggles-with-location-services

He mentions a difficult bug they had on some android devices, when using `System` current time : your system time CAN change when different cell-towers

[2018-04-11 12:52] shukerullah opened #17 "Enable/Disable location dialog popup"
Make location dialog optional.

[code]

[2018-04-13 13:33] malithjkmt commented on #4
For me, app crashes right after starts
@Agontuk 's answer worked for me.
I changed following

    dependencies {
       compile(project(':react-native-geolocation-service')){
       compile(project(':react-native-maps'))

       ......
    }

to

    dependencies {
       compile(project(':react-native-geolocation-service')){
           exclude group: 'com.google.android.gms', module: 'play-servic

[2018-04-13 14:06] Agontuk commented on #15
Thanks for the report, I'll try to reproduce it on my end and find a fix.

[2018-04-13 14:08] Agontuk commented on #16
Thanks for the report, I'll take a look at the urls you provided and do a quick fix :)

[2018-04-14 14:09] Agontuk commented on #15
I wasn't able to reproduce it on my end, can you provide a demo project so that I can take a look ?

[2018-04-15 01:55] pluberski opened #19 ""Google play service is not available.""
Hey!  Thanks for making this plugin!  It was working pretty well for me until I needed to update my code to Google Play Services version 15.0.0.  After that, I updated my build.gradle file to reflect the change:

     dependencies {
         compile project(':react-native-code-push')
         compile project(':react-native-sentry')
         compile project(':react-native-restart')
         compile

[2018-04-16 18:35] pluberski commented on #19
Ahhh, I see - I thought that would be taken care of by gradle installing the package with my app.  Apparently not.  :)  Thanks!  All's working now!

[2018-04-16 18:36] #19 closed

[2018-04-19 20:12] Agontuk commented on #10
New version is released with the option to disable location dialog.

[2018-04-19 20:12] #10 closed

[2018-04-21 12:26] moh3n9595 commented on #9
same issue

[2018-05-21 05:18] booker0108 commented on #1
@antonsivogrivov Does your MEIZU MX5 come with Google Play Service?

My target users are most likely from China which Google Play Services are not installed on their device.

[2018-05-21 08:39] antonsivogrivov commented on #1
No, I haven't got Google Play Service

[2018-05-26 08:09] alqamabinsadiq opened #21 "App closes as soon as it starts."

[2018-05-28 09:26] brunolemos opened #22 "Build fail when upgrading Google Services"
When I try to upgrade `com.google.gms:google-services`from `3.2.1` to `3.3.0` it gives these errors:

[code]

What to do?

[2018-05-29 05:31] Agontuk commented on #21
Please provide further details, till then I'm closing this.

[2018-05-29 05:31] #21 closed

[2018-05-29 05:32] Agontuk commented on #8
Closing due to inactivity

[2018-05-29 05:32] #8 closed

[2018-05-29 05:34] Agontuk commented on #22
Sorry I haven't tried with updated google-services library, so not sure what the issue is. I'll try to reproduce this on my end.

[2018-05-29 06:26] oakis commented on #8
I think the global object is being created at runtime. You should just mock the global object.
This has nothing to do with react-native-geolocation-service.

[2018-05-29 15:06] brunolemos commented on #22
Ok, I think the latest version is 4.0.1 or something like that

[2018-05-30 16:08] dlimx opened #23 "Android build error"
Hello,

I'm getting the following error on build:
```class file for com.google.android.gms.common.internal.safeparcel.zza not found```.

My `build.gradle` has:
[code]

Thank you!

[2018-05-31 03:02] koswarabilly opened #24 "Add to npm"
I have not installed yarn please add it to npm

[2018-05-31 06:33] #24 closed

[2018-06-01 06:01] oakis commented on #23
I don´t think "11.+" is a version.
Try with this:
`compile 'com.google.android.gms:play-services-location:11.8.0'`

[2018-06-01 12:11] Agontuk commented on #22
For google-services 3.3.0, all play-services libraries should be 15+ version. So try upgrading all libraries to 15+ or downgrade the google-service to 3.2.

[2018-06-01 12:14] Agontuk commented on #23
As stated above, you've to provide a specific version. And make sure all other play service libraries are using the same version. Closing this, feel free to ask again if it doesn't work.

[2018-06-01 12:14] #23 closed

[2018-06-06 18:15] rodrigofbm opened #25 "unfortunately the app stopped"
[code]

[code]
My app is crashing at the start

[2018-06-08 04:50] luisarmandodv commented on #25
Same problem here

[2018-06-08 08:15] Agontuk commented on #25
You have to override all other play service libraries to 11.8.0. react-native-device-info also has a play service dependency, so override that one too.

[2018-06-08 08:18] Agontuk commented on #23
You have to override all other play service libraries to the same version. Look for other libraries that has dependency on play service and override them.

I think variable dependencies in gradle requires gradle 3 support, RN is still using gradle 2.3.

[2018-06-08 08:20] Agontuk commented on #9
Closing due to inactivity, please provide a sample project if you're still facing this issue.

[2018-06-08 08:20] #9 closed

[2018-06-08 08:21] Agontuk commented on #15
Closing due to inactivity, please provide a sample project if you're still facing this issue.

[2018-06-08 08:21] #15 closed

[2018-06-24 18:30] Shhzdmrz opened #27 "Not getting heading and speed parameter value"
Hi,
I am using this package since it was first published but today I find out that I am not getting value for speed and heading parameter. I do not know what I did wrong. I am not an android developer please let me know what extra information you required to look into this issue.

Thanks

[2018-06-27 06:58] Agontuk commented on #27
As far as I know, heading & speed will return 0 if you're not moving, or if you're using network provider instead of gps provider due to weak signal. I think you need to track location updates for getting heading & speed value. Tracking location is not yet implemented, but I'll do it soon.

[2018-06-27 18:03] Shhzdmrz commented on #27
thanks for your response @Agontuk. Tried with the movement and working fine. You can close this issue now.
BTW Waiting for the tracking location update for this package.

[2018-06-30 19:30] Agontuk commented on #27
Location tracking is implemented in `location-update` branch. Feel free to try it out, I'll merge it to master after some testing.

[2018-07-02 17:39] Agontuk commented on #27
Location tracking is now available in `1.1.0`.

[2018-07-02 17:39] #27 closed

[2018-07-04 08:43] Shhzdmrz commented on #27
Hi @Agontuk
thank you for the watch position its working fine on my side.

Just a quick question. How these position options are working?
`{ enableHighAccuracy: true, distanceFilter: 0, interval: 100000, fastestInterval: 30000  }` for this configuration they are giving me location after each 1 minute and 40 seconds. Also they gps icon continuously showing in the notification area.

Is it the requi

[2018-07-04 17:48] Agontuk commented on #27
Since you set the interval to 100 second (1m 40s), it'll update the location in that interval. Fastest interval is 30 second, which means if somehow location data is updated by other apps before 1m 40s, your app will also get the update after 30 second has passed.

GPS icon will always show because you're using `enableHighAccuracy`. That means GPS will be used as long as `watchPosition` is running

[2018-07-09 12:18] reza-mazarlou opened #28 "Location settings are not satisfied"
I use react-native-geolocation-service for get user current location **without internet** and I  try with your example code , my problem is when WIFI is off app give me thie error :

`code:5 , Location settings are not satisfied`

and when WIFI is on  app work very well and give me current location

[2018-07-11 09:07] CorentinDupont commented on #5
Hi everyone, I had the same problem. But when i am outdoor, all work fine ! So think about that ;)

[2018-07-15 12:01] Agontuk commented on #28
You mean the message is wrong, or it should've been a different response ?

[2018-07-16 04:48] reza-mazarlou commented on #28
I want get user current location **without internet** and send it with SMS , but when WIFI is of this library not work and give me  `Location settings are not satisfied` and when WIFI is on without connect to the any access point this library give me `Time out ` Error , and just worked when WIFI is connected

[2018-07-16 12:55] #5 closed

[2018-07-16 13:30] lucas-dolsan opened #30 "Permission doesn't popup in Release version"
When requesting a location using  **Geolocation.getCurrentPosition**, if the location service is not enabled on the device, a message requesting user's permission pops up.

This has worked fine in the past, in debug versions and in release versions
* react-native run-android;
* react-native run-android --variant=release

_the image is in portuguese, my device's default language_
![15baf29b-8627-4b

[2018-07-16 15:47] Agontuk commented on #30
Did you set the `showLocationDialog` to false ? If yes, it'll return an error response with code 5. Otherwise location dialog should appear.

[2018-07-16 16:41] lucas-dolsan commented on #30
my config to the **getCurrentLocation** function looks like this:

```{ enableHighAccuracy: true, timeout: 3500, maximumAge: 0 } ```
Your documentation says  ```showLocationDialog ``` defaults to true.

Still, as I said, it works fine on the debug version, but when assembling a release, the resulting apk does not pop up the message

[2018-07-17 06:01] Agontuk commented on #30
Are you not getting any response from success/error callback ? If not, please check the logcat for possible errors and share it here.

[2018-07-17 06:03] Agontuk commented on #28
I don't think FusedLocationProvider supports getting location without internet. I'll look into the documentation just to be sure.

[2018-07-17 16:50] lucas-dolsan commented on #30
Apparently my issue has resolved itself, it's now working fine again =p

[2018-07-17 16:50] #30 closed

[2018-07-28 07:34] tiyunchen opened #31 "when netWork is offline it is not work"
when netWork is offline  it can not  getPosition just show Location request time out

[2018-07-31 14:31] rstims commented on #22
I was running 1.0.4 without any issues, since updating to 1.1.0 I receive this error

`AAPT: No resource found that matches the given name: attr 'android:keyboardNavigationCluster'.`.

and this one

`Execution failed for task ':react-native-geolocation-service:verifyReleaseResources'.

Google Services 3.2.1
Support Library - 27.1.1
Google Play Services - 15.0.1

[2018-07-31 17:44] Agontuk commented on #31
This library currently does not support fetching location in offline mode, since google play service does not allow it.

[2018-07-31 17:54] Agontuk commented on #22
This error is not specific to this library, I think you need to upgrade your compileSdkVersion & buildToolsVersion to fix this, or changing the support library version.

[2018-08-03 23:38] Edison4mobile opened #32 "I am getting heading and speed value as random."
HI, thanks for your repo. I am happy with this, but just have some issues.
Even I don't move phone, I am getting heading and speed value as random value.
And one more question. I think this may be stupid.
Regarding heading value. is this bearing?
Thanks a lot.
I am sharing some logs here.

08-04 06:33:56.797 12404 12605 I ReactNativeJS: 175.67702362167088
08-04 06:33:59.812 12404 12605 I ReactNati

[2018-08-07 15:30] Agontuk commented on #32
Probably you're moving the device that's why these values are changing, also these values will not be 100% accurate as stated in the android docs.

Yes, heading is the bearing value.

[2018-08-10 12:13] joecaraccio opened #33 "Device Crash on Startup"
[code]

ANy idea how to solve this? I suspect this is because I am somehow using other versions of the google services library.. but i could use some guidance as to why this happens

[2018-08-10 13:58] Agontuk commented on #33
You are using libraries that depend on some google play service modules, and each library is using different versions of google play service. You have to make sure all libraries use the same version, even if they're using different modules. You can check the dependencies by using the `cd anroid && ./gradlew app:dependencies` command.

[2018-08-15 10:40] lingxiao-Zhu opened #34 "Google play service is not available"
I  add ' compile project(':react-native-geolocation-service') ' to build.gradle,

[2018-08-16 11:18] rayj10 opened #35 "google play services mismatch with firebase requirement"
I added the following dep because I'm still figuring out how to add project wide properties (always causing me more error that I barely understand):

[code]
and I used 15.0.1 because I'm also using firebase messaging which requires me to put this:

[code]
in dependencies

and this on the bottom of app level gradle:

[code]

with that, I'm getting this error:

[code]

Do u have any suggestion as to

[2018-08-16 20:33] Agontuk commented on #35
You have to use same version for each of those libraries. Try using 12.0.1 for all of them, 15+ probably won't work if gradle tools version is lower than 3.3 I think.

[2018-08-17 00:01] rayj10 commented on #35
Thanks for the prompt reply! and I tried just deleting the apply plugin part, it got ur lib to work but not sure  if it affects the firebase. The thing is firebase specifically ask for 15.0.1 but in some forum it has been known that the apply plugin line could cause problems. I just have to test it first if both ur lib and firebase could work using the current setup properly. If not I'll try ur so

[2018-08-17 08:12] oakis commented on #35
I use 12.0.1 for all libs and that works for me.

[2018-08-17 19:00] nickarora commented on #35
You can continue to use 15.0.1 along with react-native-firebase; just make sure you configure your project-wide gradle configuration properties and update `app/build.gradle` appropriately.

ex:
[code]

[2018-08-18 01:39] rayj10 commented on #35
@oakis U mean it works for both this lib and firebase messaging like the one I'm trying to use?
Because I'm aware that this lib can work with anything 11+ but the problem is if the firebase part of my code will since they don't really mention it in the docs

@nickarora sounds good I will try adding that partto my project level gradle. I tried adding ext {} yesterday but it gave me error, I think m

[2018-08-18 07:36] oakis commented on #35
@rayj10 Yes i use react-native-firebase, but not with messaging yet. This is part of my build.gradle:

[code]

[2018-08-20 00:42] rayj10 commented on #35
@oakis cool, I'll try that out then, seems like thats gotta be the optimum solve. Thanks heaps! 😄

[2018-08-20 01:31] rayj10 commented on #35
So I tried writing my app and project level gradle like the following (based on everyone's recommendations combined):

app level
[code]

project level
[code]

It solved the original error but giving me this error upon accessing device location:

`{message: "Google play service is not available.", code: 4}`

No idea what I should try now..
thanks in advance guys for the help and patience with my la

[2018-08-20 05:38] Agontuk commented on #35
You have to turn on GPS in your emulator, although testing on emulator won't do you any good since it'll give you a mock location. You have to test on a real device.

[2018-08-20 08:47] oakis commented on #35
You can use the emulator as well, just put in coordinates manually and press send. Then test your app and it should receive the location.

[2018-08-20 09:38] rayj10 commented on #35
@Agontuk So the one returned on emulator will always be mock regardless if I put allow mock on the settings?
I assume the mock property is just checking whether or not allow mock setting is turned on then?

@oakis I'm receiving the location just fine after I fixed the above problem, the problem was apparently I need to put the third argument for the `getCurrentPosition()` that has these { enableHi

[2018-08-20 11:55] Agontuk commented on #35
No, I meant emulator will not give you the actual location. It'll always return the same position that you entered. If you want to test your actual current position, you're gonna need a real device.

[2018-08-20 14:37] tiyunchen commented on #15
i meet the same issue when i open the google map  after while

[2018-08-21 03:09] tiyunchen opened #36 "watchPosition is not yet implemented"
i test in my code and also test resource code , it alway show this warning, have any solution

[2018-08-21 07:04] oakis commented on #36
"watchPosition is not yet implemented" basically means that the method watchPosition does not exists yet. Not 100% sure but that is what the message says.

[2018-08-21 07:47] Agontuk commented on #36
You're probably using an old version, try the 1.1.0 version.

[2018-08-21 08:15] tiyunchen commented on #36
thank you , i will try it

[2018-08-21 09:19] tiyunchen commented on #36
i can't install it show couldn't  find match

[2018-08-21 09:34] oakis commented on #36
Just tried it now and I don´t have any problems.

[code]

[2018-08-21 09:36] tiyunchen commented on #36
`D:\reactNativeTestWork\ridecomfortapp>npm install react-native-geolocation-service@^1.1.0
npm ERR! code ETARGET
npm ERR! notarget No matching version found for react-native-geolocation-service@1.1.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
`

[2018-08-21 09:36] tiyunchen commented on #36
so wired

[2018-08-21 12:02] oakis commented on #36
What if you omit @^1.1.0?

[2018-08-21 12:06] tiyunchen commented on #36
it's ok when i  omit `@^1.1.0` and also `npm install react-native-geolocation-service@^1.0.4` is fine

[2018-08-22 04:31] tiyunchen commented on #36
i can only install package version is 1.0.4, execute `npm install react-native-geolocation-service`  return version is 1.0.4 . i am in china.

[2018-08-22 04:47] tiyunchen commented on #36
i know why `Administrator@PC-20180412BLNS MINGW64 /d/reactNativeTestWork/vibration (master)
$ npm info react-native-geolocation-service
react-native-geolocation-service@1.0.4 | MIT | deps: none | versions: 5
React native geolocation service for iOS and android
https://github.com/Agontuk/react-native-geolocation-service
dist
.tarball http://registry.npm.taobao.org/react-native-geolocation-service/d

[2018-08-22 04:53] tiyunchen commented on #36
i install success , my method is git clone your last version in my node_module

[2018-08-22 04:53] tiyunchen commented on #36
and  it works

[2018-08-24 03:27] rayj10 opened #37 "Location request timed out on load testing"
So I have 2 pages in my app, A is a list of locations user can check into and B is the page that will ask for user's Geolocation from your lib.

If I use the app normally it's fine 90% of the time (sometimes it still gives me this error, but less likely). But if I go back and forth between page A and B rapidly for different checkin locations, it will sometimes give me this:

`{message: "Location r

[2018-08-25 03:14] rayj10 commented on #37
nvm, it's an actual timeout, false alarm sorry!

I just have to prolong `timeout: 3000` to `timeout: 10000`
this works for me because I only need to update location every 20 seconds anw, so half that time to get one request is fine 😄

[2018-08-25 03:14] #37 closed

[2018-09-02 06:54] oakis opened #38 "Attempt to invoke virtual method 'void android.app.Activity.startIntentSenderForResult'"
Log from Crashlytics:
[code]

Google Play Services: On
Wifi: On
Android 7.0.
Galaxy S6 Edge+.
User had version 1.0.3 of react-native-geolocation-service.

FYI: Users on my latest version have 1.0.4 of react-native-geolocation-service.

[2018-09-03 16:44] Agontuk commented on #38
This should be fixed from 1.0.3, please let me know if it happens on 1.0.4 or above.

[2018-09-03 16:46] Agontuk commented on #36
1.1.0 is published on npm, don't know why this is happening. Is this a region specific issue ? I'll close this for now, feel free to open if you face further issue.

[2018-09-03 16:46] #36 closed

[2018-09-03 16:48] oakis commented on #38
@Agontuk Thanks, I will keep my eyes open.

[2018-09-03 16:50] Agontuk commented on #34
Closing due to inactivity. if you're using emulator, you have to install GApps.

[2018-09-03 16:50] #34 closed

[2018-09-03 17:31] Agontuk commented on #32
Try decreasing interval to 2-3 second.

[2018-09-10 15:28] lastpeony opened #39 "I am still having location request timed out error"
I am still having this error.It is working fine in emulator.Tested in android 8 general mobile gm5 plus

[2018-09-12 11:35] lastpeony commented on #39
enablehighaccuracy causes the problem.after disabling it it is working.

[2018-09-12 17:03] NULL-SWEAT commented on #31
Would be nice to update the readme with this information...

[2018-09-13 11:27] Agontuk commented on #39
Probably a device specific issue, see the FAQ section for details. Many devices have faulty GPS which does not work properly. Just in case, test it again outdoor and see if it works.

[2018-09-15 18:48] lastpeony commented on #39
another problem i found in react native geolocation is ( with this package and default navigator one ) its not working at all indoors.I used to develope in native android and geolocation was working fine indoors.Any idea ?

[2018-09-22 13:42] lastpeony commented on #39
this is unstable just like navigators geolocation.Sometimes there is no problem sometimes location time out error.

[2018-09-22 14:39] Agontuk commented on #39
This library is just a wrapper around google play service's FusedLocationProvider API. I still believe it's a device specific issue, since I still haven't faced any timeout issue on my phone (Redmi Note 3). I can be wrong of course.

I don't have any solution to this problem right now. If you can figure something out let me know, or make a PR.

[2018-09-23 08:59] oakis commented on #39
I have never had a timeout issue on my phone either (OnePlus 1 & 3). I use my app almost every day.

[2018-10-02 18:37] shashank0495 opened #40 "Issue with distanceFilter parameter in watchPosition method"
I want to implement live tracking in the application but for that I needed changed location after every metre for that I used watchPosition method but still the device detects changed location after 100m of range or more than that, any solution for this?

[2018-10-03 19:10] Agontuk commented on #40
Did you try passing `distanceFilter: 1` in the options object ?

[2018-10-05 13:51] mrozbarry opened #41 "Cannot request gps geolocation twice in parallel."
I'm working on a large react-native app with some legacy code in it from previous developers. Originally, we were using react-native's default geolocation which was slow on android/would timeout, but mostly worked.

As part of our backend api, we need to send up to date geolocation data on each request we make to our server, so we wrote a middleware that would automatically query for our location,

[2018-10-08 05:08] Agontuk commented on #41
Location request is synchronous, even if you request location in parallel the native implementation will process one request at a time. This was done to avoid illegal callback invocation exception.

Since parallel location request will return the same co-ordinates almost all the time, I think it would be better to cache it on client side like you did in your app.

[2018-10-09 08:56] Shhzdmrz opened #42 "WARNING: Configuration 'provided' is obsolete and has been replaced with 'compileOnly'."
Getting multiple warning any plan to upgrade project before end of the year?

[2018-10-09 12:31] Shhzdmrz commented on #7
@Agontuk facing same issue on RN: 0.57.0 with gradle 3.14

[2018-10-10 10:52] Shhzdmrz commented on #42
@Agontuk you can make two version like until now for gradle 2 and the newer for gradle 3. Because of google condition all people are going to use it even react native 0.57.0 also targeting it.

[2018-10-11 05:43] Agontuk commented on #42
Ok, I'll take a look. Haven't used 0.57 yet.

[2018-10-12 23:25] ryanliszewski opened #43 "watchPosition Feature"
I noted that in the README, implementing `watchPosition` was marked as a TODO. When I tried implmenting it, i get a type error:

[code]

I was wondering if this feature was still in the works or if I could potentially be configuring the library wrong?

[2018-10-13 13:31] Agontuk commented on #43
Yes it's available in 1.1.0. Check your node_modules to make sure 1.1.0 is installed.

[2018-10-19 10:34] tuannguyenhoangit opened #47 "dont work in android 7.1"
The request location running until timeout

[2018-11-09 18:58] abadooz commented on #33
I solved this problem. It just need add below code to root build.gradle

ext {
    googlePlayServicesVersion = "11.0.0"
}

[2018-11-20 09:30] KSRajkumar45 opened #49 "clearing watchposition not working"
Geolocation.clearWatch(this.watchId);
this code is not working.

[2018-11-21 14:57] #42 closed

[2018-11-21 14:59] Agontuk commented on #43
Closing due to inactivity

[2018-11-21 14:59] #43 closed

[2018-11-21 14:59] Agontuk commented on #41
Closing due to inactivity.

[2018-11-21 14:59] #41 closed

[2018-11-21 15:00] Agontuk commented on #40
Closing due to inactivity.

[2018-11-21 15:00] #40 closed

[2018-11-21 15:01] Agontuk commented on #39
Closing due to inactivity.

[2018-11-21 15:01] #39 closed

[2018-11-21 15:01] Agontuk commented on #38
Closing due to inactivity.

[2018-11-21 15:01] #38 closed

[2018-11-21 15:02] Agontuk commented on #49
Can you try the example and see if it works there ? It's working fine on my end.

[2018-11-21 15:03] Agontuk commented on #47
Most probably a device specific issue. Please see the FAQ for possible solution and see if it works.

[2018-11-23 15:22] javc86 opened #50 "WatchPosition isn't work very well"
I'm using the watchPosition event but it isn't work very well. I need an actualitations real time for search elements on the street, but watchPosition gives me info each 10 secong. How do I make it faster?

[code]

[2018-12-02 15:41] Agontuk commented on #50
Looks ok to me, it should give you location every 2 seconds. Try changing the interval and see if it works.

[2018-12-05 15:41] javc86 commented on #50
@Agontuk I have changed interval option a lot, but it always gives me info each 10 seconds. I don't understand why

[2018-12-07 07:18] pavelkeyzik commented on #31
Doesn't work if I use cellular data. Wi-Fi works pretty well.

- Phone: Meizu M6 Note (Android 7.1.2)
- react-native: 0.57.7
- react-native-geolocation-service: 1.1.0

[2018-12-10 18:52] Agontuk commented on #50
I honestly don't know what could be causing this issue. Can you try with different play-service-location versions ?

[2018-12-13 04:16] rayj10 commented on #50
@Agontuk the doc still says watchposition is coming instead of done, based on this post it looks like u've done it? I'd like to use it if possible..
thanks alot for the great lib! :D

[2018-12-13 08:31] inkwaris commented on #33
this work for me

1. in root "build.gradle" add below code

ext {
   googlePlayServicesVersion = "11.0.0"
}

2. in "app/build.gradle"

dependencies {
   ...
   implementation "com.google.android.gms:play-services-location:16.0.0" // <-- add this line
}

[2018-12-13 19:41] nol13 opened #51 "Prompt only if location disabled completely?"
If they have location on their device set to gps only, would it be possible/desirable to use gps and not prompt them to enable location even if enableHighAccuracy = false?

Like if they have location turned off, always prompt, if on, then use low accuracy,  but if on and set to gps only, then just use gps and don't prompt?

Possibility am unclear on how this differs from built-in geolocation, but

[2018-12-17 05:58] Agontuk commented on #50
@rayj10 yes watchPosition feature is available, install the latest version & try it out.

[2018-12-17 06:02] Agontuk commented on #51
google play service probably does not allow requesting location in "GPS Only" mode. That's why it shows the prompt to enable high accuracy mode. But I'll check if it can be done.

[2018-12-28 15:01] #51 closed

[2019-01-02 13:35] st0495 opened #52 "Getting location request timeout for android version 6.0"
getCurrentPosition is resulting in location request timeout only for android version 6.0 devices.

[2019-01-03 13:18] oakis commented on #33
The solution for me was to remove `googlePlayServicesVersion=12.0.1` in `android/gradle.properties`. It was lingering there from an older version of `react-native-geolocation-service`.

[2019-01-07 10:35] sinoridha commented on #33
use resolution strategy

`def googlePlayServicesVersion = '11.0.+'

allprojects {
    repositories {
        mavenLocal()
        jcenter()
        maven {
            url "$rootDir/../node_modules/react-native/android"
        }
        configurations.all {
            resolutionStrategy {
                force "com.google.android.gms:play-services-ads:$googlePlayServicesVersion"

[2019-01-09 05:28] yoshikischmitz opened #53 "watchPosition doesn't raise an error if the user disables location services"
When a user opens the app with location services enabled, and the app then registers a `watchPosition` callback, and then the user _disables_ location services, and goes back to the app, `watchPosition` never raises an exception. React Native core's navigator.geolocation has this same issue, but I would expect `watchPosition` to raise an exception the same way that `getCurrentPosition` would. This

[2019-01-09 07:38] oakis commented on #53
I think this is what you are looking for:
https://facebook.github.io/react-native/docs/permissionsandroid

[2019-01-11 07:32] IronTony commented on #33
I tried the hints but still have the same problem

[2019-01-13 06:11] Agontuk commented on #53
You mean the error callback is not triggered ? That seems like a bug, I'll look into it.

[2019-01-14 02:52] yoshikischmitz commented on #53
@Agontuk yes the `onError` callback on `watchPosition` is not triggered. To be clear, the `onError` callback on `getCurrentPosition` does get triggered.

[2019-01-18 09:45] asifalikhokhar commented on #1
it writes out a error log  "Unable to fetch location within 15.0s." in iOS

[2019-01-27 02:15] maeneak opened #54 "Running on Android 9.0 in vscode"
Just thought i'd provide some feedback. To get this going on Andoid 9 (Pie) i did the following:

1. terminal `npm i react-native-geolocation-service`
2. terminal `react-native link react-native-geolocation-service`
3. insert the following into `android\app\build.gradle` in the `dependencies {...}` section
    `implementation "com.google.android.gms:play-services-location:16.0.0"`

I was also had

[2019-01-28 05:52] archana-iron opened #55 "TypeError: Cannot read property 'getCurrentPosition' of undefined"
After all setup I have this issue::

[code]
Steps I have followed::

After these I have installed "react-native-geolocation-service" package
Link this package
I have followed all the Android settings.
Import in file like this:: import Geolocation from "react-native-geolocation-service";
Function where I used it::
[code]
There is a TypeError: cannot read property getCurrentPosition of undefined.
st

[2019-01-28 23:47] rodrigues-t commented on #55
I am facing the same problem. Did you find out some solution?

[2019-01-29 04:03] archana-iron commented on #55
Yea I find out a solution for it. Typerror::Cannot read property 'getCurrentPosition' of undefined, this occurs if it's not linked properly.
I have linked again .
After this I set googlePlayServicesVersion = "11.0.0" to "16.0.1" , and it's works for me.

[2019-01-29 05:33] archana-iron opened #56 "How to watch latitude and longitude on the basis of distance only?"
I am building tracking app I need to watch location after moving atleast 5 meter. It should not be dependent upon time. So don't want to get my location after some interval of time, i just want when user moves 5 meters. For this I am using these options, but it send me location even I am on asame place.
Please check this code:
startWatchLocation() {successCallback, ?errorCallback, ?options}
here m

[2019-01-30 00:04] jearaneda commented on #55
I'm having the same problem but changing googlePlayServicesVersion didn't work.

[2019-02-04 15:25] RWOverdijk opened #58 "Typescript typings"
Maybe add typescript typings? It's as easy as doing this:

[code]

[2019-02-06 18:58] kdrich commented on #1
@asifalikhokhar

Have you verified that the app has location permissions? I.e. if you go into Settings > Privacy > {{yourApp}} and enable location services, do you still have this timeout issue?

[2019-02-06 19:46] Agontuk commented on #56
distanceFilter should work as it takes precedence over time. Are you testing this while moving or staying still ?

[2019-02-06 19:48] Agontuk commented on #55
Google play service version may change depending on which android version you're targeting. So try out different versions and see if it works.

[2019-02-06 20:56] linnett opened #59 ""speed" and "heading" returning -1 in iOS"
In iOS, using the example here https://github.com/Agontuk/react-native-geolocation-service/blob/master/example/App.js, I constantly get `-1` returned for both `speed` and `heading`. This never changes, even when travelling.

Is there something I did incorrectly in setup?

react-native-geolocation-service: 1.1.0
react-native: 0.56.0

[2019-02-15 08:21] Agontuk commented on #59
This package uses the default geolocation module of react native for iOS. So it's probably an react native module issue I think. Just to be sure, are you using an actual device ?

[2019-02-20 19:26] dmitrizagidulin commented on #33
This issue was very helpful. I ended up having to combine the solutions from two different comments above, in order to make it work. So, in case anybody (or future me) finds it useful:

Do both:

In top-level `build.gradle`, define `googlePlayServicesVersion` and add the resolution strategy:

[code]

And ALSO, in `app/build.gradle`, add this line to the `dependencies`:

[code]

[2019-02-21 07:15] Kamill90 commented on #33
Unfortunately it doesn't work for me

[2019-02-25 11:23] darknblack commented on #33
Thanks it worked

[2019-02-28 13:57] archana-iron opened #62 "Not getting exact latitude longitude on ios device using watchPosition."
**Issue Description::**

I am working on react native tracking application. Basically users check in  from a certain place and they need to reach at the destination. Using this application we are finding out the path they are following. I need to get a geocodes from users check in location to destination to track the path he is following.
Now it builds a clean path in case of Android device, but h

[2019-03-01 22:04] Michaelvons commented on #1
the simple answer is to step out of where you are and go to open space then try again.

Its simple science.

GPS services are affected by thick walls and cars.

[2019-03-05 05:03] pradhul commented on #52
Facing the same issue with Android 6.0.

[2019-03-08 01:58] QiZhongdd opened #63 "Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'."
Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.
More than one file was found with OS independent path 'META-INF/rxjava.properties'

[2019-03-10 05:39] Agontuk commented on #62
This library is using the default react native location module for iOS. So if you're having a problem, that means it's an issue with RN module. So it'll be better if your open a issue in RN repo.

[2019-03-11 08:19] archana-iron commented on #62
Now I have made changes in react-native/Libraries/Geolocation/RCTLocationObserver.m . You can check this link:: [Link](https://github.com/reyalpsirc/react-native/commit/408d949ae35c2fd9ff8055022815913bd652bf1a)
After making these changes, it works fine on ios. Is this accurate method or not??

[2019-03-11 10:22] a1lu commented on #63
Got the same problem, for me this helped:

[code]

see for example: https://github.com/ReactiveX/RxJava/issues/4445

[2019-03-13 11:07] Agontuk commented on #62
Can't tell, but looks like it should have been configurable from user end.

[2019-03-13 11:09] Agontuk commented on #58
Typescript typings is merged now.

[2019-03-13 11:09] #58 closed

[2019-03-13 11:11] Agontuk commented on #63
Looks like it can be solved by following the link, closing this for now.

[2019-03-13 11:11] #63 closed

[2019-03-13 14:26] duarte-evocorp opened #64 "Getting the exact location on iOS?"
Good morning, I'd like to know how to use the precise location.

[2019-03-25 07:39] saadiya-kazi commented on #6
i have been using this library with expo app which is resulting for **TypeError: Cannot read property 'containsLocation' of undefined** on android device.
Still not tested with iOS device.
Any solution how to use 'react-native-geo-fencing' package with an expo app ?

[2019-03-25 17:52] omnikron commented on #62
This was a bug with React Native iOS Geolocation Library. It is fixed in react-native 0.59: https://github.com/facebook/react-native/commit/bbcb97a29adc2a3a05728b47d28e28fa78d84df2

[2019-03-27 06:31] Agontuk commented on #62
Closing this since it's been fixed in 0.59.

[2019-03-27 06:31] #62 closed

[2019-03-28 14:08] avasuro commented on #53
Same issue.
And in addition: If I run my application with disabled GPS, then i click "No thanks" on request to turn GPS on (after that errorCallback is triggering), and then I manually turn GPS on - nothing happens after that (I expect that successCallback should be triggered).

[2019-04-02 09:03] sinodko opened #66 "Get the location info from custom coordinates"
Hello there!

I would like to ask, if it's possible to get country code by GPS location coordinates with this package? Currently, in my app I have implemented country rectangles but it is not accurate enough as every country has its own "shape" and rectangles are overflowing each other. I also need to be able to get the country code in offline mode.

I know that google geolocation api is able to d

[2019-04-04 18:41] phillipkey opened #67 "iOS does not display permission modal without all location keys"
Currently, the only way to get the permissions modal to fire for iOS is by including all of the following location keys in the Info.plist file:

[code]

we do not ever need the LocationAlways permission and this seems strange to ask users.

[2019-04-10 07:03] GaneshSaiKumar commented on #28
gives me same error "Location settings are not satisfied." though mobile data wifi are turned on!

[2019-04-10 09:10] Agontuk commented on #66
No, that's not possible. This package only gives location co-ordinates. You need to use other libraries like geocode or places etc for getting additional info.

[2019-04-10 09:12] Agontuk commented on #67
This package uses the default iOS module from react-native, so it's probably an issue with the react-native core module. But last time I checked, I only used the NSLocationUsageDescription and it worked fine for me. If it's not working now, please create an issue in RN repo.

[2019-04-11 11:09] slavikdenis commented on #58
When could this be released? Thanks :)

[2019-04-15 12:22] oakis opened #69 "Update package to use react-native-geolocation"
Geolocation is being removed in RN 0.60 and is moved to https://github.com/react-native-community/react-native-geolocation

[2019-04-15 17:57] scarlac commented on #33
Think resolution to this ticket is fairly easy: Modify `README.md` so it's clear that adding play services is not optional. From the current docs it reads as if you add/are using the `ext` section modification, you won't have to add play services.

[2019-04-16 23:00] phillipkey commented on #67
ok. i'll do so. Thanks @Agontuk

[2019-04-16 23:00] #67 closed

[2019-04-17 09:28] romreed commented on #28
I got same error
 "react": "16.7.0",
 "react-native": "^0.58.3",
 "react-native-geolocation-service": "^2.0.0",

[2019-04-18 09:24] cladjules commented on #28
Can you try using my PR/Branch,
you can pass a flag "forceRequestLocation: true" that will still try to get a location even though location settings are not satisfied.
You can use it along showLocationDialog: false

https://github.com/Agontuk/react-native-geolocation-service/pull/68

[2019-04-18 09:28] romreed commented on #28
@cladjules i will try. thank you.

[2019-04-25 14:07] tlupo opened #70 "Location authorization level (iOS)"
Thank you very much for this library. In my app, I only need to access location in foreground so I only add "NSLocationWhenInUseUsageDescription" in my Info.plist file but Apple requires to also add "NSLocationAlwaysUsageDescription".

**Message from Apple**: Missing Purpose String in Info.plist File - Your app's code references one or more APIs that access sensitive user data. The app's Info.plis

[2019-04-26 02:19] flyinghawker opened #71 "So much curious if this could function in China mainland?"
The project needs geolocation functionality for China mainland area, but so far no good lib available in React Native. Not sure if this could be applied right there.

[2019-04-28 16:33] leandroquinger commented on #28
It works for!
when the device has no wifi connection or it's disabled, it still can get the GPS position.

I just changed the RNFusedLocationModule.java and LocationUtils.java files using the @cladjules  branch and solved the error message "Location settings are not satisfied". It wasn't need to set any flag

Thanks!

[2019-04-29 06:24] Agontuk commented on #70
Thanks for the link, I'll look into it.

[2019-04-29 06:26] Agontuk commented on #71
As far as i know, google play service does not work in china. Unfortunately there's nothing I can do if that's the case.

[2019-04-29 10:30] flyinghawker commented on #71
@Agontuk Thank you, my friend. I will try to test it anyway.

[2019-04-29 10:30] #71 closed

[2019-05-01 20:19] fostahgix commented on #70
I ran into this issue as well. After adding NSLocationAlwaysUsageDescription I no longer received the permission. The only way to get it to trigger the dialog currently was to remove it from the info.plist file.

[2019-05-02 14:09] drew-r commented on #58
Yes please release or we have to install from GH :)

[2019-05-05 13:37] Agontuk commented on #58
v2.0.1 is published with the typescript typings

[2019-05-07 07:30] wangdanting commented on #39
Chinese should open 'FanQiang'。

[2019-05-12 23:26] JanErikFoss opened #72 "The connection to Google Play services was lost"
I've got this error in my crashlytics log.

react-native-geolocation-service 2.0.1
react-native 0.59.5
googlePlayServicesVersion = "16.0.0"
android 10
Pixel 3

       at com.google.android.gms.tasks.zzu.getResult(Unknown Source:15)
       at com.agontuk.RNFusedLocation.RNFusedLocationModule$4.onComplete(RNFusedLocationModule.java:347)
       at com.google.android.gms.tasks.zzj.run(Unknown Source:4

[2019-05-13 09:46] JanithaR commented on #69
What do you mean by the title? Isn't this package a solution (alternative) for react-native-geolocation?

[2019-05-14 05:57] oakis commented on #69
@JanithaR Reference: https://github.com/facebook/react-native/issues/7495#issuecomment-481597534

[2019-05-14 06:03] JanithaR commented on #69
I know that and the recommended approach is to use
react-native-geolocation-service instead of react-native-geolocation. I'm
just still wondering what you meant in the question.

Regards,
Janitha

On Tue, May 14, 2019, 11:27 Anders Ekman <notifications@github.com> wrote:

[2019-05-15 13:22] superdopey commented on #25
How do I override the play service for react-native-device-info?

[2019-05-16 10:24] MeisterTea commented on #33
inkwaris's solutions worked for me (fresh react native project: 0.59.3)

[2019-05-19 23:44] faizaanshah commented on #33
Same issue nothing worked (react-native 0.59.3)

[2019-05-20 17:10] pray-ray opened #73 "Execution failed for task ':react-native-geolocation-service:verifyReleaseResources'"
When creating a signed apk for android using command:

`gradlew assembleRelease`

Above task fails claiming to not find

- **\react-native-geolocation-service\android\build\intermediates\res\merged\release\drawable-mdpi-v4\common_google_signin_btn_icon_light_normal_background.9.png**

- **\react-native-geolocation-service\android\build\intermediates\res\merged\release\drawable-xxhdpi-v4\abc_textfi

[2019-05-21 14:03] ravirajn22 opened #74 "How to stop location tracking when app goes to background in Android? Track only when in foreground."
I want to watchPosition when app is in foreground and stop watchPosition when app goes to background. (like whenInUsage in iOS)

I tried to listen to **AppState** and start and stop tracking  when app changes its state. It seems to work in most of the case.

But turning  **showLocationDialog: true**, causes the AppState to change when the settings modal appears creating issues in this flow.
Making

[2019-05-24 04:48] NooruddinLakhani commented on #49
@KSRajkumar45  Yes you right, It's not working so I gotta use it's another method stopServing() which works well

[2019-05-24 05:50] NooruddinLakhani commented on #74
Still getting the same issue don't knock how to get it done

[2019-05-26 05:18] AbhijitSinha1 commented on #73
I was getting the same error. Apparently I had not installed react-native on my system. I ran the command
[code]
and was able to solve the issue. Hope this helps you too.

[2019-05-26 15:10] Agontuk commented on #74
You shouldn't use `showLocationDialog` in background service. It's only meant for use if app is in foreground.

[2019-05-26 15:12] Agontuk commented on #73
Does not seem like an issue related to this library. Probably an issue with your build tool version or google play service version.

[2019-05-26 15:16] Agontuk commented on #25
I think react-native-device-info supports `Project-wide Gradle configuration`. Just define google play service version in the `ext` block of your `build.gradle` file and it'll pick up the version from there.
Closing this as it's not related with the project.

[2019-05-26 15:16] #25 closed

[2019-05-26 15:18] Agontuk commented on #69
`react-native-geolocation` is needed because this package uses RN's default implementation for iOS. Since it's moved into a separate repo we have to integrate that too.

[2019-05-26 15:29] Agontuk commented on #72
Not sure what's causing this, is it happening frequently ?

[2019-05-26 15:41] Agontuk commented on #33
You should always use a single version for all of your google play service modules (location, geocode, places etc.). Most of the libraries support project wide gradle configuration. So you should define the version you want to use in root `build.gradle` file. If a library does not support project wide gradle config, you have to override that libraries GPS dependency in your `app/build.gradle` file

[2019-05-26 15:41] #33 closed

[2019-05-26 15:46] Agontuk commented on #70
Since this library uses the default RN implementation for iOS and it's been moved to `react-native-geolocation`, we'll also move to use that library for iOS. But since I don't have any iOS device, I can' test it. So if you guys can test it and report back, that'll be great. I'll be updating the package within this week.

[2019-05-28 05:36] vikasrai1502 commented on #28
When I put my device on airplane mode and trying to get location getting error message "Location settings are not satisfied". Is react-native-geolocation-service not works in Airplane mode? Please help.

[2019-05-28 08:26] codoffer commented on #70
@Agontuk -
I am facing same issue with permission and reject with iOS side. I don't want to use always - location. Other libraries are having configuration level, where we can manage this.

https://github.com/react-native-community/react-native-geolocation/pull/26

Default issue with React

https://github.com/facebook/react-native/issues/20879

[2019-05-29 13:53] marciodiasdeveloper opened #75 "MainApplication.java new RNFusedLocationPackage(); close application"
After adding the new RNFusedLocationPackage () call to my MainApplication.java file the application hangs

[2019-05-30 11:45] oakis commented on #73
You shouldn't install react-native globally. Only the CLI if you use it.

[2019-06-03 10:03] JanErikFoss commented on #72
Just once.

[2019-06-04 05:33] oakis commented on #72
Could just be a coincidence then.

[2019-06-04 07:49] sirajahmad1 opened #77 "How to improve the accuracy"
Hi,

please anyone help me to improve the accuracy of the location, i am getting accuracy between 22-26 (even in open space)
sometime it's giving 104

**Specifications**

"react-native": "0.59.8",
"react-native-geolocation-service": "^2.0.1",

**Here is my code**

`Geolocation.getCurrentPosition(
   (position) => {
       console.log('position', position);

   },
   (error) => {
       // See erro

[2019-06-04 07:52] ravimalviya688 commented on #77
I am also looking for same thing

[2019-06-04 09:41] jaltin opened #78 "Debug sounds should respect the device volume (nice to have)"
It is really helpful having the sounds playing for debugging purposes by setting 'debug: true'.

As it is now, the sound is played in the same volume no matter what volume I have on my device (tested on an iPhone XS with plugin version 3.0.4 and react native 0.57.2) .

It would be nice if the sound playing respected the volume settings, so that when I am going around and doing real world tests, I

[2019-06-08 10:14] GaneshSaiKumar opened #79 "Could not resolve all files for configuration ':react-native-geolocation-service:debugCompileClasspath'."
FAILURE: Build failed with an exception.

* What went wrong:
Could not resolve all files for configuration ':react-native-geolocation-service:debugCompileClasspath'.

  Required by:
      project :react-native-geolocation-service

I got this problem after updating react native to 0.59.3

[2019-06-09 06:49] Agontuk commented on #79
You probably did not update android folder, support library version should be 28 I think. This is the RN 0.59 config

[code]

Closing this, feel free to reopen if problem persists.

[2019-06-09 06:49] #79 closed

[2019-06-09 06:54] Agontuk commented on #75
Provide details please. Also make sure you followed the instruction correctly.

[2019-06-09 07:08] Agontuk commented on #78
I don't understand how this is related to the project. Please clarify, for now I'm closing this.

[2019-06-09 07:08] #78 closed

[2019-06-10 14:18] tirafaelmendonca commented on #75
I'm having the same problem. When I added the library my project does not open anymore.

I configured settings.gradlew
I configured build.gradlew
I configured the app / build.gradlew
I configured MainApplication.java

As step by step

[2019-06-13 06:46] NooruddinLakhani opened #80 "How to control the location services status bar (Blue Bar) for IOS"
In IOS, how do I turn on or off the Location Services Status Bar (Blue Bar) for my app while it is in the background?

Starting with iOS 11, an app can toggle the **showsBackgroundLocationIndicator** property to change the visibility of the blue bar at any time.
Reff : https://developer.apple.com/library/archive/qa/qa1965/_index.html

Currently I'm using **react-native-geolocation-service**
https:

[2019-06-13 08:03] rewieer commented on #75
Replace
[code]

By
[code]

In your app build.gradle. See [this](https://stackoverflow.com/questions/51388073/failed-resolution-of-lcom-google-android-gms-common-api-apizzf) for more informations.

[2019-06-16 00:34] joaom182 opened #81 "Incompatible with googlePlayServicesVersion 16.1.0"
My project uses googlePlayServicesVersion 16.1.0 and the package `com.google.android.gms:play-services-location:16.1.0` not exists. This is throwing build errors.

Any sugestions?

[2019-06-16 14:48] tsvetan-ganev opened #82 "[TypeScript] GeoErrorCode enum is declared only in index.d.ts but not in JS code"
First of all, thank you for developing this package which solves a really painful inconsistency between iOS and Android geolocation implementations.

Recently I saw that you added typings and I upgraded to the newest version to try them out. However, I found an issue - [the following line](https://github.com/Agontuk/react-native-geolocation-service/blob/master/index.d.ts#L21) in the `index.d.ts` f

[2019-06-18 00:42] Alexispap commented on #81
Use 16.0.0. There is no version 16.1.0 for the location package at the moment.

[2019-06-18 07:46] JanithaR commented on #81
https://mvnrepository.com/artifact/com.google.android.gms/play-services-location/16.1.0

[2019-06-18 09:02] joaom182 commented on #81
@JanithaR i see that, but the package really not exist on ICM repository. I don't know why the Maven is listing that.

[2019-06-22 19:43] joshuakoh7 opened #84 "TypeError: null is not an object (evaluating 'RNFusedLocation.startObserving')"
[code]

[2019-06-25 13:32] canpoyrazoglu opened #85 "React Native 0.60: Cannot read property 'setRNConfiguration' of undefined"
I had to upgrade to 0.60 RC2 today (for AndroidX support) and I've started getting `Geolocation` (from `import Geolocation from 'react-native-geolocation-service';`) being undefined. I think it's most probably due to `react-native-geolocation` being removed from the core package. I've also installed `react-native-geolocation` separately but nothing changed.

How can I get `react-native-geolocation

[2019-06-25 14:02] canpoyrazoglu commented on #69
I've forked the repo (feel free to use if you need it before this repo is officially updated) at https://github.com/canpoyrazoglu/react-native-geolocation-service. (Though you'll need to add and link the dependency manually, see below.)

I can confirm that it works (at least, on iOS, couldn't test Android yet) after adding the `geolocation` package:

`yarn add @react-native-community/geolocation`

[2019-06-25 14:04] canpoyrazoglu commented on #85
I've worked around this issue by forking it, as I've described in https://github.com/Agontuk/react-native-geolocation-service/issues/69#issuecomment-505459359.

Though it still needs to be fixed in official repo.

[2019-06-26 12:09] tsvetan-ganev commented on #85
A temporary fix which does not require forking or changing the library code:

[code]

[2019-06-26 19:58] canpoyrazoglu commented on #85
@tsvetan-ganev That is even better! Though, keeping it open since both your and my solutions are just workarounds.

[2019-06-27 15:17] eisenheim94 commented on #69
@canpoyrazoglu no, on Android it says "Geolocation" is read-only. But I think that this error must be on iOS too

[2019-06-27 15:18] eisenheim94 commented on #69
But I have RN 0.59.9

[2019-06-27 15:56] joselitofilho opened #86 "How can I observe the events of turning the GPS on and off?"
How can I observe the events of turning the GPS on and off?

[2019-06-28 08:06] oakis opened #87 "Google location services is ON but still shows dialogue"
I have both location for my app set to on, and google location services on. Still I get the dialogue for enabling google location services.
Running Android 8.0 on a Nexus5 emulated device.

On my own OnePlus3 device with Android 9 it works. With both gps allowed and high accuracy enabled. If I disable high accuracy I get promted in the app, press OK and it gets activated and then works.

Pressing

[2019-06-28 08:37] oakis commented on #86
Before trying to fetch the location you can check for permissions.

https://facebook.github.io/react-native/docs/permissionsandroid

Dunno how to do it for iOS.

[2019-06-28 09:17] oakis commented on #87
So i narrowed it down. It works for Android 9 but not 8. Pressing "OK" in the dialogue does nothing, so the user has to activate high precision manually.

[2019-06-28 13:24] gghnisan opened #88 "getCurrentPosition - coordinates are not updated when you move"
Coordinates are not updated when you move and displays the same coordinates.

what am I doing wrong?

[2019-06-28 14:39] gghnisan commented on #88
I solved the problem by adding the parameter maximumAge: 0, but now it defines geolocation for a long time.

[2019-06-28 14:39] #88 closed

[2019-06-30 06:55] Agontuk commented on #69
Sorry guys, I've been pretty busy with work lately so haven't pushed an update regarding this. I'll fix this tonight.

[2019-06-30 06:57] Agontuk commented on #87
Is it only the emulator or does real device have this problem too ?

[2019-06-30 09:34] gghnisan commented on #87
I have a similar problem.
I click "NO THANKS" and it repeats endlessly. I can not turn off geolocation. No such issues with navigator.geolocation.getCurrentPosition()
![untitled](https://user-images.githubusercontent.com/49828972/60394867-454fb600-9b33-11e9-859d-883fda65b54b.gif)

[2019-07-01 07:32] oakis commented on #87
So at least one user has issues on a real device. I might be able to test this when I get home, I think I have an old device that I can install Android 8 on.

[2019-07-02 06:54] Agontuk commented on #69
I've pushed a commit in master branch to fix this, please try and let me know if it works. I'll then release it in npm registry.

[2019-07-02 06:55] Agontuk commented on #70
@tlupo @fostahgix @codoffer

I've pushed a commit in master branch to fix this, please try and let me know if it works. I'll then release it in npm registry.

[2019-07-02 08:13] havinhthai commented on #86
You can try [react-native-gps-state](https://github.com/neuberoliveira/react-native-gps-state).

[2019-07-04 15:33] timmywil commented on #82
Interesting. It works for me without it having to exist in JS land.

[2019-07-04 15:35] timmywil commented on #82
[code]

[2019-07-05 20:34] tsvetan-ganev commented on #82
@timmywil, maybe it's a `tsconfig.json` setting. Do you mind sharing your config file?

[2019-07-08 09:12] truongluong1314520 commented on #79
Hi @Agontuk , I have the same problem with 0.60. My project build.gradle ext is same as your:

    buildscript {
        ext {
            buildToolsVersion = "28.0.3"
            minSdkVersion = 16
            compileSdkVersion = 28
            targetSdkVersion = 28
            supportLibVersion = "28.0.0"
        }
        repositories {
            google()
            jcenter()
        }

[2019-07-08 11:56] eisenheim94 commented on #87
I also experiencing an issue with two dialogues. If geolocation is off - it is asking to enable it twice. I have no `requestPermission` in code, so it is triggered by your module or by native code.

@gghnisan can you give me URL of PIN-code module you're using?

[2019-07-08 13:42] fabio-als-freitas opened #89 "Could not determine the dependencies of task ':react-native-geolocation-service:compileDebugAidl'."
Trying to install with RN0.60, and getting this:

     Required by:
         project :react-native-geolocation-service

           Dependency path 'Test:react-native-geolocation-service:unspecified' --> 'com.android.support:appcompat-v7:28.0.0' because of the following reason: ENABLE_JETIFIER is enabled
           Constraint path 'Test:react-native-geolocation-service:unspecified' --> 'androidx.ap

[2019-07-08 15:42] timmywil commented on #82
Sure,

[code]

[2019-07-09 09:59] eisenheim94 commented on #87
Figured out why it is asking to enable geolocation twice.
It is because I'm calling `Geolocation.getCurrentPosition` first and `Geolocation.watchPosition` after.
Moved `Geolocation.watchPosition` to success callback from `Geolocation.getCurrentPosition` and second alert gone.

Anyway, you need to do some check that you already asked user to enable geolocation service.

[2019-07-09 10:59] chris-topher19 commented on #6
Getting the same issue

[2019-07-09 11:03] chris-topher19 commented on #55
Getting the same error, even after making the above mentioned changes.

[2019-07-10 13:47] smaldd14 commented on #89
I am getting this same issue too with RN 0.60.0. Seems like this is a new issue with RN 0.60.0. See (https://github.com/react-native-community/react-native-maps/issues/2947).

Any fix for this?

[2019-07-10 22:34] Jaraujo6 opened #91 "Androidx Fix RN 0.60, Jetifier Compliance"
In order to support React Native 0.60, library maintainers need to upgrade their android files to support androidx. This change can make a library unusable for users who have not upgraded their own app for androidx. The consensus solution for this issue is to update the build.gradle so that a library like jetifier can replace the non-compliant code.

For this app to be jetifier compliant, the foll

[2019-07-12 06:09] gghnisan commented on #87
I no longer use this library. And using standard navigator.geolocation.getCurrentPosition ()

[2019-07-12 10:52] manu006 commented on #91
Same issue arises to me when I upgrade my react-native version.
This issue is arising due to react-native update for support of AndroidX

Go to
`~/node_modules/react-native-geolocation-service/android/build.gradle`

and do the changes on
`dependencies {
    ...
    compileOnly "com.facebook.react:react-native:+"
}`

to

`dependencies {
    ...
    implementation('com.facebook.react:react-native:+'

[2019-07-12 11:35] c-schuette commented on #69
Hey, anythink new about adding it to the npm registry? And thanks for this helpful package :)

[2019-07-12 13:15] Agontuk commented on #89
I'm also getting error in RN60, will try to fix this as soon as possible.

[2019-07-12 13:20] Agontuk commented on #87
I can't reproduce the issue, can anyone tell me the exact steps to reproduce this ?

@eisenheim94 why do you need to use both `getCurrentPosition` and `watchPosition` at the same time ?

[2019-07-12 14:19] Agontuk commented on #79
@truongluong1314520, RN 0.60 needs support for androidX. I'll try fixing this as soon as possible.

[2019-07-13 06:56] Nishit-Chauhan opened #93 "drifting current location"
i have used this module to get user's current location when user moves using watch position and get current position,

i m getting different location every time while the device not moving and it is on flat surface. watch position automatically calls and location difference is very big,
in a below screenshot marker is current location on starting then the user location randomly jumps i have draw t

[2019-07-13 07:04] shahhenil1994 commented on #93
i m also facing the same kind of automatically location bounce issue

[2019-07-13 07:08] ydv0121 commented on #93
yes it's showing improper location ..stuck on it .. HELPPPP

[2019-07-13 07:10] kaushik038 commented on #93
i am also facing same issue please help

[2019-07-14 06:52] jahskee opened #94 "Upgrade to AndroidX"
This module is great but needs to upgrade to support AndroidX.

[2019-07-14 10:35] oakis commented on #93
GPS is not super accurate. You could check for a difference in location and decide if you want to use that information or not. Like a conditional.. "if diff is bigger than, skip setting marker on map"

[2019-07-14 18:56] stigmat4j commented on #79
Have news?

[2019-07-15 04:53] oakis commented on #79
https://github.com/Agontuk/react-native-geolocation-service/pull/92

[2019-07-15 12:23] mgenov commented on #79
Tried with changes in #92:
[code]

But this is what I get as error:

[code]

This is my configuration in app/build.gradle:
[code]

[2019-07-15 12:24] smaldd14 commented on #89
Any luck, @Agontuk  ?

[2019-07-15 12:26] stigmat4j commented on #79
I helped [jetifier](https://github.com/mikehardy/jetifier)

[2019-07-15 12:28] mgenov commented on #79
jetifier is adde in as dependency:

[code]

Version:

[code]

[2019-07-15 19:06] Agontuk commented on #89
@smaldd14 , can you try the new branch [https://github.com/Agontuk/react-native-geolocation-service/tree/rn60-fix](https://github.com/Agontuk/react-native-geolocation-service/tree/rn60-fix) ?

[2019-07-15 19:07] Agontuk commented on #91
I've pushed a fix for RN60 in a separate branch [https://github.com/Agontuk/react-native-geolocation-service/tree/rn60-fix](https://github.com/Agontuk/react-native-geolocation-service/tree/rn60-fix). Can you try and see if it works ?

[2019-07-15 19:28] jothikannan commented on #89
@smaldd14 How to install this branch? I just tried `npm install react-native-geolocation-service` I am still getting an error like Could not resolve com.android.support:appcompat-v7:28.0.0.

[2019-07-15 22:28] fabio-als-freitas commented on #89
Use: `npm install username/repo#branchName --save`

In this case: `npm install Agontuk/react-native-geolocation-service#rn60-fix`

[2019-07-16 00:59] Kuhne1 commented on #71
@flyinghawker Did it work in China?

[2019-07-17 18:11] faizaanshah opened #99 "Location doesn't update when mobile phone screen is locked?"
I have written an application to collect some some sensors data via bluetooth and append gps coordinate to that data every single second and store it on a database.
Problem is when screen is locked every single sensors data is fetched via bluetooth ( meaning app is running in background) but gps locations are not updated accordingly. But when screen is on every thing works fine.

[2019-07-18 08:52] Return-1 opened #100 "TypeError: Cannot read property 'getCurrentPosition' of undefined ( rn 0.60.3)"
When using
`import Geolocation from '@react-native-community/geolocation';`
things work as expected. However when using
`import Geolocation from 'react-native-geolocation-service';`

it yields:

platform: iOS
rn_version: 0.60.3
react-native-geolocation-service:  2.0.1

[2019-07-18 10:06] jcamilo97 opened #101 "Error: cannot find symbol class ActivityCompat"
platform: Android
RNversion: 0.59.10
react-native-geolocation-service: 2.0.1

![image](https://user-images.githubusercontent.com/19734429/61448977-932d3200-a919-11e9-8f2b-372c93f73fa4.png)

![image](https://user-images.githubusercontent.com/19734429/61448771-26199c80-a919-11e9-8c07-0f16dc984a42.png)

[2019-07-18 12:56] #82 closed

[2019-07-18 13:13] ElixirMike opened #102 "Will this work if App is closed?"
Not sure if this is the appropriate place, but am looking to know if this API would work even if a person closes the application? Is it possible (given a person grants permission) to have location tracked if app is in all these statess (foreground, background closed) ?

[2019-07-18 17:58] AilsonFreire commented on #91
I am trying to install this library and it simply crashes when build, and do not give me any error messages. I tried to install the above branch.

[2019-07-19 10:42] aaayushsingh commented on #50
+1 on iOS. Even on setting interval to 2000, I don't get location every 2 seconds

[2019-07-22 13:18] Antoniozinchenko commented on #102
@ElixirMike probably you should try https://github.com/transistorsoft/react-native-background-geolocation for background tracking

[2019-07-22 13:37] arahmanali commented on #101
any update?

[2019-07-22 19:59] IShotTheSheriff commented on #91
Thank you @Agontuk I can confirm that in my project (RN 0.60.0) this fix did make a difference (I get compile error in `2.0.1` and it compiles fine when on `rn60-fix` branch).

[2019-07-23 07:23] Return-1 commented on #100
any updates on this one?

[2019-07-23 08:48] oakis commented on #91
You can now use version 3.0.0 from npm.

[2019-07-23 12:46] herlarb commented on #100
@Return-1  try pulling version 3.0.0 from npm and see if it fixes your issue

[2019-07-23 13:10] Return-1 commented on #100
did earlier in the day and forgot to come back here, yes 3.0.0 solves the issue

[2019-07-23 15:46] AilsonFreire opened #103 "React/RCTEventEmitter.h' file not found"
When I try to build the app on ios devices, after manually link the libary to IOS as the read.me shows, I got this error:

node_modules/@react-native-community/geolocation/ios/RNCGeolocation.h:8:9: fatal error: 'React/RCTEventEmitter.h' file not found
#import <React/RCTEventEmitter.h>
        ^~~~~~~~~~~~~~~~~~~~~~~~~

RNative: 60.4
react-native-geolocation-service: 3.0.0

[2019-07-24 06:57] oakis commented on #103
Did you try linking it automatically?

[2019-07-24 11:28] herlarb commented on #100
@Return-1  kindly close the issue. Thanks glad you were able to resolve your issue

[2019-07-24 13:06] #100 closed

[2019-07-24 14:02] AtharZaib commented on #101
same error ..

[2019-07-24 14:25] AtharZaib opened #104 "Error: no suitable method found for checkSelfPermission(Context,String)"
![image](https://user-images.githubusercontent.com/22134505/61801605-81331e00-ae48-11e9-910a-6b9b93ace2e6.png)

I have used appcompact activity but still it is not recognizing the checkSelfPermision method . Need help
Environment
"react": "16.8.6",
    "react-native": "^0.60.0",
    "react-native-confirmation-code-input": "^1.0.4",
    "react-native-geolocation-service": "^3.0.0",
    "react-nativ

[2019-07-24 15:13] EugenePizzerbert commented on #103
Same error
![image](https://user-images.githubusercontent.com/40814780/61805582-a172d500-ae68-11e9-86c4-c7b2e0f6151e.png)

RNative: 60.4
react-native-geolocation-service: 3.0.0

[2019-07-24 16:41] AilsonFreire commented on #103
@EugenePizzerbert Try to install @react-native-community/geolocation, linking and then use pod install, e tell with this works.

[2019-07-24 17:21] EugenePizzerbert commented on #103
@AilsonFreire

[2019-07-24 17:22] EugenePizzerbert commented on #103
@AilsonFreire
I got same error.
Can you share how to do step by step?
Can you show me pod file for this?

[2019-07-24 18:18] AilsonFreire commented on #103
Sorry @EugenePizzerbert, I didn't remember how I handle this issue. Here is what my docs says: I installed the library as a said above, and linking using "react-native link @react-native-community/geolocation", then used pod install. Installed this library react-native-geolocation-service, linking, and again pod install, I didn't follow the "install manually ios" from this library. Finally, I clea

[2019-07-25 03:20] snamstorm commented on #101
Also getting this error

[2019-07-25 03:22] funnyjerry commented on #103
**Thanks** a lot @AilsonFreire
Solved issue
🤗🤗🤗🤗🤗🤗🤗

[2019-07-25 07:52] oakis commented on #103
Could you close the issue? For future reference it is good to have a clean-script which you run before all build commands.

package.json:
[code]

[2019-07-25 12:48] NicolasAlt128 opened #105 "Error building package "Could not determine the dependencies of task ':app:preDebugBuild'.""
Hi, i'm in trouble to install this package :\

I followed step by step all instructions for Android and i get this error :

     Required by:
         project :app

          - None of the consumable configurations have attributes.

I don't know what i need to do for make working this lib :\

Here my **react-native info** :

    OS: Windows 10
    CPU: (4) x64 Intel(R) Core(TM) i3-2310M CPU @ 2.10

[2019-07-25 15:45] developerantoniosousa commented on #89
I had the same problem and solved it like this

Open the file `node_modules/react-native-geolocation-service/android/build.gradle` in dependencies and update

 to

[2019-07-26 05:22] oakis commented on #105
You are only showing one file. Did you follow the steps provided here:
https://github.com/Agontuk/react-native-geolocation-service#android

[2019-07-26 05:24] oakis commented on #89
Instead you could use version 3.0.0 of this package which has this fix in place.

[2019-07-26 05:56] NicolasAlt128 commented on #105
Hi oakis,
Yes I did

Here my **MainApplication.java** :

[code]

And here my **android/setting.gradle** :

[code]

[2019-07-26 14:55] developerantoniosousa commented on #89
Thanks for the information

[2019-07-26 16:49] #103 closed

[2019-07-26 19:05] fabio-als-freitas commented on #89
Solved, really thanks!

[2019-07-26 19:05] fabio-als-freitas commented on #89
Solved, really thanks!

[2019-07-26 19:05] #89 closed

[2019-07-27 06:48] oakis commented on #105
Package.json?

[2019-07-27 09:06] NicolasAlt128 commented on #105
My bad .. I didn't install the package correctly, my first "yarn add" didn't work.. I re installed the package and now all works.. Thanks for you help

[2019-07-27 09:06] #105 closed

[2019-07-28 19:00] Kamill90 commented on #101
the same. It is the first library I need to integrate and I do it on a fresh react-native starter app. It works perfectly fine on iOS but cannot find any workaround for android. Any suggestion?

[2019-07-29 06:59] Agontuk commented on #101
I've a fix for this in `rn60` branch. WIll merge it in master and do a new release as soon as possible.

[2019-07-29 07:01] Agontuk commented on #104
Just to be sure, are you using jetifier ? I'll look into this.

[2019-07-30 13:15] AtharZaib commented on #104
yes, using jetifier and android X

[2019-07-30 20:16] nakiscia opened #107 "Cannot get correct updated location data"
Hello,

In the android version of our app, geolocation service return same value again and again. However, if I open Google Maps and return the application it returns different/updated location data.
I tried to change watch position, high accuracy option, maxAge option and none of them gives the correct result.

Can you give me a suggestion to fix this problem?

[2019-07-31 07:29] Kamill90 commented on #101
Merge it!

[2019-07-31 10:16] Android773 opened #108 "Android - Turn on Location Service popup not coming"
Hi,

My setup is

[code]
And code is:

[code]

Scenario:

1. I have already added code for PermissionsAndroid and after getting the permission I am hitting the above mentioned code.
2. Android -

When the Location in top drawer menu is ON then I am getting location.

But when Location is off, it is not showing the following popup to ask user to enable the location service:

![image](https://user-i

[2019-07-31 16:52] clytras commented on #70
@Agontuk I'm getting same `ITMS-90683: Missing Purpose String in Info.plist` about `NSLocationAlwaysUsageDescription` key, even after upgrading to `"react-native-geolocation-service": "^3.0.0",`. I don't think I have any other location related package installed.

[2019-08-01 06:26] jibraniqbal666 commented on #87
I am also experiencing this issue, even though, I have already accepted previous one.
On the next launch when i get the same dialog again. because i am calling getCurrentLocation

[2019-08-01 21:14] jmoliugp commented on #107
I'm experiencing the same issue as @nakiscia on the iOS simulator. It started fetching the correct coordinates using the workaround he mentioned.

I'm using the `2.0.0` version.

[2019-08-02 12:42] GabeConsalter commented on #103
Works like a charm.

[2019-08-02 16:16] Agontuk commented on #104
I just tried 3.0.0 with RN60 and it worked fine for me. Here is my dependencies
[code]

Can you try again, this time remove all android setup described in the README file. RN60 will automatically integrate the module when installed, no need for manual setup.l

[2019-08-02 16:21] Agontuk commented on #108
You have both `@react-native-community/geolocation` & `react-native-geolocation-service` installed. Make sure you're importing the correct library in your component. I tried 3.0.0 in my example project and the dialog is showing up correctly.

On another note, remove all android related setup described in README file. It is not needed in RN60 as it'll integrate the module automatically when install

[2019-08-02 18:16] Agontuk commented on #70
I tried 3.0.0 in RN 0.60 and it's working fine for me. Can you please follow the instruction again, I've updated the README for 0.60.

[2019-08-02 18:18] Agontuk commented on #87
Can you give me an example project which can reproduce this issue ?

[2019-08-02 18:19] Agontuk commented on #107
You'll always get same location in emulator/simulator because it is fake. Use real device to test location update.

[2019-08-02 18:20] Agontuk commented on #103
I've updated the README for 0.60, please follow the instruction and it should work fine.

[2019-08-02 18:24] Agontuk commented on #69
New version is already available in npm.

[2019-08-02 18:24] #69 closed

[2019-08-02 18:25] #70 closed

[2019-08-02 18:25] Agontuk commented on #73
Closing due to inactivity

[2019-08-02 18:25] #73 closed

[2019-08-02 18:27] Agontuk commented on #75
Please follow the steps again if you can, I've updated the README for 0.60. Closing this for now, feel free to create new issue if problem persists.

[2019-08-02 18:27] #75 closed

[2019-08-02 18:28] Agontuk commented on #81
Closing this since it's not related the package itself.

[2019-08-02 18:28] #81 closed

[2019-08-02 18:29] Agontuk commented on #84
Please provide more details like package version, RN version etc.

[2019-08-02 18:30] Agontuk commented on #85
New version is available which fixes this issue, so closing this.

[2019-08-02 18:30] #85 closed

[2019-08-02 18:31] Agontuk commented on #91
Closing this since the issue is fixed in 3.0.0.

[2019-08-02 18:31] #91 closed

[2019-08-02 18:32] Agontuk commented on #94
It's been added in 3.0.0, so closing this.

[2019-08-02 18:32] #94 closed

[2019-08-02 18:35] Agontuk commented on #101
New version is available, so closing this issue.

On another note, if you're using RN 0.59 or below, don't use `play-services-location` greater than 16.0.0 because the later versions have breaking changes.

[2019-08-02 18:35] #101 closed

[2019-08-03 05:42] NasirRazaChangezi commented on #55
fuck u github..u dont have solutions for our questions

[2019-08-03 06:49] oakis commented on #87
https://github.com/oakis/minahallplatser/blob/master/src/actions/search.js

[2019-08-03 08:40] ramkiakil opened #109 "Location doesn't update when mobile in background or screen locked?"
Location doesn't update in watch position.location updating in foreground only.it's stop location tracking when app goes to background in Android? Track only when in foreground.
enableHighAccuracy:true,showLocationDialog:false,interval:5000,fastestInterval:2000,distanceFilter:2

[2019-08-03 11:13] oakis commented on #109
https://github.com/Agontuk/react-native-geolocation-service/issues/102
https://github.com/Agontuk/react-native-geolocation-service/issues/99
https://github.com/Agontuk/react-native-geolocation-service/issues/80

[2019-08-04 12:39] clytras commented on #70
@Agontuk well maybe then that's my issue, because I've not yet upgraded to 0.60 and maybe these triggers come from the RN bundled geolocation lib that comes with version prior 0.60.

[2019-08-05 06:06] Android773 commented on #108
@Agontuk I understand these things.

1. Yes, my import is correct.

`import Geolocation from 'react-native-geolocation-service';`

I have added `@react-native-community/geolocation` module because when I ran it on iOS, it was asking to link this module to app, I searched about it and got to know that in RN 0.60 geolocation is removed as built in module and now is available as a separate module. An

[2019-08-05 06:28] oakis commented on #108
What Android version are you using on your device when this happens?

[2019-08-05 07:19] Android773 commented on #108
@oakis I have tested on two devices with Android 8.0 and Android 7.0

[2019-08-05 07:45] oakis commented on #108
@Android773 Can you try with Android 9? Might be a similar issue a bunch of others have been experiencing.

[2019-08-05 09:26] truongluong1314520 commented on #79
I see the [#92](https://github.com/Agontuk/react-native-geolocation-service/pull/92). Thank you @oakis , I will give it a try

[2019-08-05 12:57] ramkiakil commented on #109
Thanks for suggestion @oakis

[2019-08-06 05:05] Android773 commented on #108
@oakis I tried with Android 9 as well, but it is not asking to turn Location Service on when Location is off.

[2019-08-06 09:19] markwillis82 commented on #84
I also receive this with getcurrentPosition:

`
Geolocation.getCurrentPosition(
        (position) => {
            console.log(position);
        },
        (error) => {
            // See error code charts below.
            console.log(error.code, error.message);
        },
        { enableHighAccuracy: false, timeout: 15000, maximumAge: 10000 }
    );
`
These are the packages.

    "react-nati

[2019-08-06 18:43] vjsingh96 commented on #108
have you solved this issue?

[2019-08-07 05:49] prasan2421 commented on #108
Getting the same issue in Android version 9, package version 3.0.0 and RN version 0.6.4. No solutions so far.

[2019-08-07 05:51] vjsingh96 commented on #108
Which React Native version you are using?

[2019-08-07 08:55] tobikl1 commented on #108
Same for us with

"react-native": "0.60.4",
"@react-native-community/geolocation": "^1.4.2",
"react-native-geolocation-service": "^3.0.0",

Tested on an Android 9 Device

on iOS it works (when deactivating the locationService in device settings it reports back as no permission for app though)

[2019-08-08 05:05] prasan2421 commented on #108
v 0.60.4

[2019-08-08 05:10] vjsingh96 commented on #108
Remove @react-native-community/geolocation": "^1.4.2", plugin and try

[2019-08-08 09:21] tobikl1 commented on #108
as stated before, that is a dependency for the plugin to work with iOS.

Is it possible this is an issue with the "@react-native-community/geolocation" plugin instead which is causing this one to show this behaviour?

[2019-08-08 11:25] prasan2421 commented on #108
i havent kept this plugin yet i have the issue, but im using @react-native-community/netinfo.
Did you solve this issue by removing @react-native-community/geolocation?

[2019-08-09 13:04] upalatucci commented on #55
Hi guys.
https://github.com/facebook/react-native/issues/25648

"geolocation has been pulled out in latest react native 0.60"

[2019-08-09 16:54] Agontuk commented on #108
Guys, can anyone give me a sample project for this issue ? I am running an example with RN60 in my mobile and location popup is working fine for me. Also please provide any steps necessary to reproduce this.

[2019-08-09 16:59] Agontuk commented on #79
Guys, if you're using RN0.60, remove all manual setup for android. This library will work out of the box.

[2019-08-09 17:01] Agontuk commented on #84
@markwillis82 , can you look inside the `node_modules/react-native-geolocation-service` and upload the contents of `js/index.js` and `RNFusedLocationModule.java` inside android folder to pastebin or similar site ?

[2019-08-09 18:04] Agontuk commented on #70
3.0.0 works with RN 0.59 too. Can you check your `info.plist` and see if this key `NSLocationAlwaysUsageDescription` is actually not included there ?

[2019-08-09 18:41] Agontuk commented on #87
Can you check if 3.0.0 solves this issue ? It seems you're still using 2.0.0.

[2019-08-09 19:06] Agontuk commented on #55
This can only happen if your setup process was wrong. Make sure the setup is ok and that you added `new RNFusedLocationPackage()` in `MainApplication.java`

[2019-08-09 19:13] Agontuk commented on #102
This library does not track the state of the application. You should use Headless JS for doing background work and call geolocation API there.

[2019-08-09 19:13] Agontuk commented on #99
This library does not track the state of the application. You should use Headless JS for doing background work and call geolocation API there.

[2019-08-09 19:16] Agontuk commented on #80
This library uses [https://github.com/react-native-community/react-native-geolocation](https://github.com/react-native-community/react-native-geolocation) for iOS module. It would be better to create an issue there about this.

[2019-08-09 19:16] #80 closed

[2019-08-09 19:16] Agontuk commented on #109
This library does not track the state of the application. You should use Headless JS for doing background work and call geolocation API there.

[2019-08-09 19:38] smaldd14 commented on #77
I, too, am looking to improve accuracy of longitude and latitude I am getting back... Please let me know if there is a solution

[2019-08-09 20:43] clytras commented on #70
`NSLocationAlwaysUsageDescription` wasn't included when the app got auto rejected by Apple, but after I included the key and a description, it got passed the auto check and it's now on AppStore! I can't understand though why Apple auto check triggers that false positive since I don't use any background geolocation services.

[2019-08-10 09:08] oakis commented on #87
@Agontuk Should I use 3.0.0 with RN 0.59?

[2019-08-10 15:29] Agontuk commented on #87
Yes, it works with RN0.59 too.

[2019-08-10 15:39] Agontuk commented on #70
@clytras , you should try to set the autorization level to `whenInUse` like this
[code]

This way you don't need to add `NSLocationAlwaysUsageDescription ` in `info.plist`. Check if it works for you.

[2019-08-10 16:03] clytras commented on #70
@Agontuk yes, that will most likely fix the case. I saw `setRNConfiguration` but I don't know why I haven't used it! Will confirm that it works when I'll send next version release to Apple. Thanks for your help.

[2019-08-10 21:44] Agontuk commented on #77
Currently I don't know any other way to improve this. If I find anything, I'll let you know. Same goes for anyone finding a solution.

[2019-08-11 08:45] oakis commented on #77
Might be your devices. I had problems with accuracy on both my OP1 and OP3 phones.
If possible try with a device that is known for good GPS accuracy.

[2019-08-11 13:25] prasan2421 commented on #108
https://github.com/prasan2421/location-test-project
Above is the link to my repo.
I've created a fresh RN project of version 0.60.4 and installed react-native-geolocation-service version 3.0.0. i have not kept any other package but the issue is still there. It looks like a bug of new react native itself.

[2019-08-12 09:14] oakis commented on #87
Using 3.0.0 doesn't fix the issue. I still have to manually enable high accuracy on the Android 8 device.

[2019-08-12 13:08] smaldd14 opened #113 "Cannot obtain accurate enough location"
I have been working with this library for awhile now and am creating an application that uses the phone's current location. I need to be able to get the users current location with accuracy that is less than 5 meters. Currently, when requesting the users current location, the best accuracy I can get is between 15-20 meters away from where the phone is actually making the request. I make the reques

[2019-08-15 04:48] jaburcodes commented on #101
still facing it

[2019-08-15 09:49] lutakyn commented on #101
I'm also facing the same issue,I'm using  version 3.0.0

[2019-08-16 14:33] AliMSbaee commented on #108
I have the same issue.
Android 9
React Native: v0.60.4
react-native-geolocation-service: v 3.0.0

[2019-08-16 16:29] santiagofm commented on #101
@Agontuk That fix doesn't seem to be merged to master yet. Can you take a look?

[2019-08-17 08:58] Agontuk commented on #108
It seems like PR #68 introduced an additional check to determine whether location providers are enabled or not. If no providers are available, it'll immediately return error response instead of showing popup.

This check is needed because it enables us to request location even when location setting is set to `Device Only`.

We may need to find an alternate solution. What are your thoughts guys ?

[2019-08-17 11:43] ramkey-akil commented on #109
Thank you @Agontuk

[2019-08-19 06:25] prasan2421 commented on #108
so will this issue be fixed? i was also wondering how few others above managed to make this working.

[2019-08-20 13:42] jpmdl opened #114 "Can I get the location provider?"
Hey there,

Great work!

Sorry if this is not the appropriate channel for this, but can I get the provider of the location provided (3G, Wifi or GPS)?

Thanks!

[2019-08-20 15:06] MehranTheDeveloper commented on #55
**Check These lines added in your MainApplication.java**

import com.agontuk.RNFusedLocation.RNFusedLocationPackage;

new RNFusedLocationPackage() in protected List<ReactPackage> getPackages() method

It fixes my issue

[2019-08-20 19:14] jameshowe commented on #114
Wrong library, see [@react-native-community/netinfo](https://github.com/react-native-community/react-native-netinfo#netinfocellulargeneration).

[2019-08-20 19:51] jpmdl commented on #114
Thanks, I can have the wrong library, but NetInfo is not what I’m looking for.

I’m trying to get the Location Provider for each of my LatLng coordinates and not what type of connection I’m using to the web.

The info can be seen here for Android:
https://developer.android.com/reference/kotlin/android/location/LocationManager#GPS_PROVIDER:kotlin.String

[2019-08-23 08:07] Agontuk commented on #108
Guys, let me know if this flow makes sense. Looping in @cladjules since he implemented the `forceRequestLocation` feature.

1) If location settings are ok, it'll invoke success callback with location
2) If not ok and `showLocationDialog` is `false`, it'll invoke error callback with code`SETTINGS_NOT_SATISFIED`.
3) If not ok and `showLocationDialog` is `true`, it'll show location popup to improve l

[2019-08-23 12:44] oakis commented on #108
@Agontuk Sounds good to me.

[2019-08-23 14:01] cipriancaba opened #115 "@react-native-community"
Why is this package not replacing the react-native-community one? https://github.com/react-native-community/react-native-geolocation

[2019-08-23 16:57] oakis commented on #115
[code]

Do you want to elaborate?

[2019-08-24 08:56] cipriancaba commented on #115
Well, it is really confusing to have 3 options to use the geolocation package.. one is in react native core up to version 0.60, one is react-native-geolocation and the other is react-native-geolocation-service..

Also there is this weird warning on the react-native-community package that states
[code]

I've spent a lot of time debugging Android and trying to make it work until i finally installed

[2019-08-24 14:10] Agontuk commented on #113
I think the accuracy depends on the device you're using and where you're using it. Also it's good to calibrate your device compass properly as it'll help to get an accurate position. I normally get an accuracy of 15-20 meters while indoor, and 5-6 meters in outdoor. I'll agree it's not constant all the time, but it's not supposed to be.

[2019-08-24 14:14] Agontuk commented on #77
You can try calibrating your device compass, it'll help with the location accuracy.

[2019-08-24 14:16] Agontuk commented on #72
Closing due to inactivity, please open a new issue if this happens again.

[2019-08-24 14:16] #72 closed

[2019-08-24 14:16] Agontuk commented on #66
Closing due to inactivity.

[2019-08-24 14:16] #66 closed

[2019-08-24 14:18] Agontuk commented on #64
Closing for now, as the issue is not very descriptive.

[2019-08-24 14:18] #64 closed

[2019-08-24 14:19] Agontuk commented on #59
Closing due to inactivity.

[2019-08-24 14:19] #59 closed

[2019-08-24 14:20] Agontuk commented on #55
Closing this, as it's most likely setup issue. Please follow the instructions properly.

[2019-08-24 14:20] #55 closed

[2019-08-24 14:23] Agontuk commented on #50
`interval`, `fastestInterval ` is for android only. It does nothing on ios. I'll update the documentation.

[2019-08-24 15:23] oakis commented on #115
Its like with everything, there are multiple solutions to the same problem.

This package is also mentioned here:
https://facebook.github.io/react-native/docs/geolocation

[2019-08-28 15:43] duytq94 commented on #108
I have the same problem (of course in Android)

- With RN < 0.60.0 and this library < 3.0.0. After grant permission, it will show dialog request to turn on GPS and then everything fine.

- With RN >= 0.60.0 and this library >= 3.0.0. After grant permission, it won't show dialog request to turn on GPS and throw error `message: 'No location provider available.', code: 2`. So I have to turn on GPS ma

[2019-08-29 06:02] sarthak216-blr opened #116 "Location Fluctuations in watchPostition"
## Environment
react-native-cli: 2.0.1
react: 16.6.3
react-native: 0.59.8

## Platforms
Android & iOS both

## Versions
- Android:
- iOS:
- react-native-geolocation-service: 3.0.0,
- react-native:16.6.3
- react:0.59.8

## Description
My Latitude and longitude keeps on fluctuating, even i am still with the device. Sometimes the spikes are small and some times it's large. Here is code :-

this.watch

[2019-08-29 14:58] pierroo commented on #101
@Agontuk I am also facing this issue, using RN 0.60;

can you please let us know if it was actually merged to master?

Thank you for your time!

[2019-08-30 05:51] Agontuk commented on #84
No.

[2019-08-30 12:57] Agontuk commented on #108
Fixed in `3.1.0`

[2019-08-30 12:57] #108 closed

[2019-08-30 16:29] duytq94 commented on #108
Everything's fine, thanks to @Agontuk

[2019-09-01 09:48] Crazypancakexd commented on #84
It fixed for me after I did `react-native run-android`

[2019-09-02 05:48] Android773 commented on #108
@Agontuk Great!

It is working fine after updating to 3.1.0.

Thanks a lot.

[2019-09-04 09:07] klaasel commented on #55
The readme only says to perform a yarn or npm command to install.
In order to get this working I had to

1. add the Java files from java/com/agontuk/RNFusedLocation manually to my own src/java folder,
2. set the import and package in MainApplication.java and
3. add the implementation "com.google.android.gms:play-services-location:16.0.0" to the build.gradle.

Shouldn't yarn handle this? If not, pe

[2019-09-04 09:17] klaasel commented on #55
Indeed follow the steps for 0.59 and lower if this error occurs. 'No additional setup is required for 0.60 or above' sounds tempting.

[2019-09-04 09:24] sarthak216-blr commented on #116
Any updates on this ??

[2019-09-04 13:31] jyothiMenda commented on #116
Any update on this?

[2019-09-04 19:22] giovanischiar opened #117 "RNFusedLocation is undefined"
Hello,

I'm using RN 60 and added this library following the instructions, but when I run the app I got this strange error on Android. What it could be?

Versions:
react-native: 0.60.5
react-native-geolocation-service: ^3.1.0

For more versions of stuff just contact.

[2019-09-05 15:06] effaamponsah commented on #79
Jetifier solved mine. RN 0.59

- `npm install --save-dev jetifier` or `yarn add jetifier`

- In _gradle.properties add_,
`android.useAndroidX=true
android.enableJetifier=true`

- `npx jetify`

- `react-native run-android`

[2019-09-10 19:52] kaytee319 commented on #79
I resolved by adding playServicesVersion to android build.gradle

ext { buildToolsVersion = "28.0.2" minSdkVersion = 16 compileSdkVersion = 28 targetSdkVersion = 26 supportLibVersion = "27.1.1" playServicesVersion = "16.0.0" }

[2019-09-11 22:30] jmhinric commented on #101
@Agontuk could you please merge this commit of yours on branch `rn60-fix`? Is there any reason not to do so?

https://github.com/Agontuk/react-native-geolocation-service/commit/748bd6721e26b4400139f2973d477326eee382bd

[2019-09-13 13:05] oakis commented on #87
Tried with 3.1.0 and it is still not working.

Try to get location and this shows up:
[code]
Press OK

[code]

[2019-09-13 16:49] latusdenis opened #118 "iOS: Handle network connection in error callback"
Does the library handle network error, while finding the location?

I am switching off the Internet, while searching the geolocation and the error callback isn't invoked only on iOS.

My config:
[code]

[2019-09-14 08:50] ramkiakil opened #119 "Background location update is possible in IOS?"

[2019-09-14 09:20] ramkiakil opened #120 "GPS is not updating location in IOS,when netWork is offline.android is fine,"

[2019-09-14 16:26] LukePenkava opened #121 "RN 0.59.10 androidx error with version 2.0.0"
Hi,

 i am trying to install the package on 0.59.10 ( cant go to 0.60 for production reasons ). I am using version 2.0.0 per documentation, but i am getting this error:

[code]

To reproduce:
I install first react-native-communiyt/geolocation v1.4.2. That all works fine, Android build works. Then i install this package version 2.0.0 and i am getting this error, complaining about androidx. I am try

[2019-09-14 22:52] LukePenkava commented on #121
I have fixed the issue by changing the googlePlayServicesVersion to 16.0.0 in build.gradle. It was mentioned in the docs, but i assumed having version 17.0.0 would not be an issue, but it was. Everything works fine now.

[2019-09-14 22:52] #121 closed

[2019-09-16 11:35] hanaechahid commented on #28
@vikasrai1502, yes I think this library not working in airplane mode. I'm trying to search for another library which supports airplane mode but I don't find it.
any library suggestion to resolve this problem?

[2019-09-16 11:42] cladjules commented on #28
Now my branch was merged. I think we are halfway from having it working with airplane mode. I will look at doing another PR and some testing when in back from holidays at the end of the month.
But that's definitely doable in that project.

Thanks

[2019-09-16 12:00] hanaechahid commented on #28
@cladjules but I need the solution now

[2019-09-16 12:33] Agontuk commented on #28
Enabling airplane mode automatically turns off wifi, enable wifi and it should work.

[2019-09-16 12:37] Agontuk commented on #101
@jmhinric , are you using play-services-location version greater than 16.0.0 ? Currently master branch is working fine even without this fix.

[2019-09-16 12:47] GunnarAK opened #122 "README is misleading"
The Readme states you have to install this library by doing:
`npm install react-native-geolocation-service --save`
This is all good and all, but when viewing the iOS specific setup for 0.59 one has to install the community version ??

https://github.com/Agontuk/react-native-geolocation-service#setup

Android does not talk about the community version but `react-native-geolocation-service`
The iOS s

[2019-09-16 16:14] jmhinric commented on #101
@Agontuk I got it working- like the previous comment, it was the npx jetify.  Thanks!

[2019-09-17 14:02] grwimran opened #123 "android - Google play service is not available. , code: 4-300000"
I am getting error on my simulator.

android - Google play service is not available. , code: 4-300000. Any help please.

[2019-09-17 14:21] Sakarisson opened #124 "GeoPosition TypeScript definition incomplete"
On Android, the `GeoPosition` object has a `mocked` member, which will either be `true` or `false`. iOS location objects to not have this key. This is not represented in the type definition:

[code]

I suggest adding an optional `mocked` filed to the `GeoPosition` type. I can create the PR myself as soon as I get a confirmation from the library's maintainers.

[2019-09-17 14:43] Sakarisson commented on #124
Since this is such a simple request, I just made the PR right away.

[2019-09-17 17:57] gluons commented on #101
`npx jetify` workaround works like a charm.
Wish RN 0.60 fix will land soon. Thank you.

[2019-09-17 18:04] grwimran commented on #123
Issue was on simulator. working fine on real device.

[2019-09-17 18:04] #123 closed

[2019-09-17 20:52] draperunner commented on #122
`@react-native-community/geolocation` is a dependency of this package (`react-native-geolocation-service`). You don't need to install `@react-native-community/geolocation` explicitly.

I wouldn't say the README is misleading as it never says that you need to install the community package, but I can understand that it can seem strange to import a podspec from another package.

[2019-09-18 13:00] muhammedjailam commented on #119
on IOS even when u add NSLocationAlwaysUsageDescription, the privacy settings location page does not show 'Always' option in iOS 13. Why ? and how to enable it ?

[2019-09-18 13:40] muhammedjailam commented on #119
This Helped
https://github.com/Agontuk/react-native-geolocation-service/issues/67

[2019-09-19 09:29] Chepkeitany opened #126 "TaskExecutionException: Execution failed for task ':react-native-geolocation-service:compileReleaseJavaWithJavac'"
Hello,

I am getting a release compilation error after upgrade to latest version of react-native-geolocation-service and react-native to RN0.60.5.

Below is part of the stacktrace
[code]

[2019-09-19 16:19] smaldd14 commented on #126
I'm getting this issue as well

[2019-09-19 16:51] roysG opened #127 "Sometimes gps is not turned off"
Your plugin works very well, but there are times that gps is not turn off.
I also save all watches to cancel all the ids.

Code:
----------(enable function)------------
const watchID = Geolocation.watchPosition(
                   async (lastPosition) => {
                       console.log('roy get location android', lastPosition);
                       this.sendCallAndGetGatesList(lastPosition.

[2019-09-19 18:01] Chepkeitany commented on #126
@smaldd14 Have you resolved your issue?

[2019-09-20 07:33] tevin-maxwell commented on #126
@Chepkeitany I got the same issue. After some googling, this work for me:
https://github.com/react-native-community/react-native-geolocation/issues/39

[2019-09-23 04:03] xxRockOnxx commented on #55
@klaasel i was about to say that. I think this should be mentioned in the README so it can help other people in the future as well.

[2019-09-23 06:55] oakis commented on #55
Pull requests are welcome.

[2019-09-25 07:12] ramkey-akil commented on #119
Thanks @muhammedjailam

[2019-09-25 08:58] ramkey-akil opened #128 "watchposition location update not updating continuously in ios"
Geolocation.watchPosition((position)=>{
 },(error) => console.log(JSON.stringify(error)),
  {enableHighAccuracy: true,distanceFilter:10,interval:1000,useSignificantChanges:true})

[2019-09-25 12:56] iRyusa commented on #122
Just did an upgrade from 0.59 -> 0.60 and current version doesn't install the RNGeolocation when doing a `pod install`. Adding `@react-native-community/geolocation` did the trick tho.

[2019-09-27 07:46] jothikannan commented on #117
I am also getting the same error.

[2019-10-01 12:18] ramkey-akil opened #129 "GPS is not updating ,when network is not available (IOS only)"

[2019-10-02 05:38] Agontuk commented on #124
PR merged, so closing this.

[2019-10-02 05:38] #124 closed

[2019-10-02 05:41] Agontuk commented on #126
Running `npx jetify` should solve this issue.

[2019-10-02 05:44] Agontuk commented on #119
This module uses the `react-native-community/geolocation` package for iOS module. So it'll be better to create a issue there regarding this.

[2019-10-02 05:44] #119 closed

[2019-10-02 05:53] Agontuk commented on #122
You don't need to install `@react-native-community/geolocation` separately as it'll be installed along with this library. You just need to add it to the Podfile and run `pod install`.

I'll update the doc to clarify that it uses `@react-native-community/geolocation` under the hood for iOS module.

[2019-10-02 05:53] #122 closed

[2019-10-02 05:56] Agontuk commented on #117
Did you change any files inside android folder ? There's no setup needed for RN0.60+ versions, just installing the package should work.

[2019-10-02 05:59] Agontuk commented on #55
So, you need to follow the steps for 0.59 or lower in order to setup 0.60+ projects ? That shouldn't be needed as far as I know.

[2019-10-02 06:12] Agontuk commented on #128
Set `useSignificantChanges: false` and try again. Otherwise create an issue in [https://github.com/react-native-community/react-native-geolocation/issues](https://github.com/react-native-community/react-native-geolocation/issues)

[2019-10-02 06:12] #128 closed

[2019-10-02 12:02] jramalho commented on #117
Here too. Any changes in the package itself... just using the Doc too.

[2019-10-03 14:59] shivaping opened #130 "Jenkins Build error"
C:\Program Files (x86)\Jenkins\workspace\test\node_modules\react-native-geolocation-service\android\src\main\java\com\agontuk\RNFusedLocation\LocationUtils.java:10: error: cannot find symbol
import android.support.v4.app.ActivityCompat;
                             ^
  symbol:   class ActivityCompat
  location: package android.support.v4.app
C:\Program Files (x86)\Jenkins\workspace\test\node_modul

[2019-10-03 16:25] ramkey-akil opened #131 "GPS location updating without network and WiFi is possible in IOS?"

[2019-10-04 09:26] oakis commented on #130
Try `npx jetify`

[2019-10-04 09:33] oakis commented on #131
You already created and issue for this here: https://github.com/Agontuk/react-native-geolocation-service/issues/129

Add some more details in that one instead. For example what you have tried or what you are trying to do.

[2019-10-04 10:06] ramkey-akil commented on #131
Geolocation.watchPosition((position)=>{
        var lat = parseFloat(position.coords.latitude)
        var long = parseFloat(position.coords.longitude)
       console.log(lat+" "+long)
  },
      (error) => console.log(JSON.stringify(error)),
      {enableHighAccuracy: true,distanceFilter:0,interval:1000,}
      )

Location is not getting from the watchposition , when network is not available

[2019-10-05 10:25] shivaping commented on #130
Not working still

[2019-10-06 11:40] fang5502 commented on #107
I also have the same problem with the android emulator, but I set the option forceRequestLocation to true to solve the problem.

[2019-10-06 11:51] yairopro commented on #94
https://github.com/Agontuk/react-native-geolocation-service/blob/564fc1c4ab1546def51dea09bf1bed1ac3ee91f6/android/src/main/java/com/agontuk/RNFusedLocation/LocationUtils.java#L10

Hi @Agontuk
It's not fully supported it seems..

[2019-10-06 12:41] yairopro commented on #94
@Agontuk have a look on my PR #132 please.

[2019-10-07 05:46] King2231 opened #133 "Accuracy unit in getCurrentPosition()"
I am using the getCurrentPosition() method of the library. I wish to show accuracy of the location in my app. The method returns accuracy but i am unsure the unit of the accuracy. Is it some kind of a percentage or meters(like whatsapp). Kindly help.

[2019-10-07 07:56] oakis commented on #133
It's in meters.

https://stackoverflow.com/a/7812357/5458928

[2019-10-07 09:25] LukePenkava opened #134 "Android Build compilation failed"
React Native version: 0.61.2
RN-geolocation-service version: 3.1.0
Platform: Android, Android studio 3.4.2

I just did fresh install and i am getting these errors in Android Studio:

Errors:

[code]

<details><summary>Logs</summary>
<p>

[code]
</p>
</details>

[2019-10-07 09:31] LukePenkava commented on #134
I did run

` ./gradlew --stop `

and it produced new compiler errors:

[code]

[2019-10-07 14:24] sebinq commented on #134
Hello @LukePenkava. Please, let me know if you manage to solve the issue. I'm stuck with the same error too. Thanks!

[2019-10-07 14:25] sebinq commented on #130
Same error here.

[2019-10-07 14:28] sebinq commented on #126
I've tried:

[code]

But still getting same error :( I'm using RN 0.61.2

[2019-10-07 14:41] sebinq commented on #134
@LukePenkava I've managed to solve build errors by adding googlePlayServicesVersion to build.gradle file.

[code]

@Agontuk can you please confirm that it's a valid solution? Thanks!

[2019-10-08 15:38] Agontuk commented on #130
Which version of the package are you using ? Try using latest version and run `npx jetify` before build. It should solve the issue.

[2019-10-08 16:05] Agontuk commented on #22
Closing due to inactivity

[2019-10-08 16:05] #22 closed

[2019-10-08 16:07] Agontuk commented on #31
Closing this, you can try with `forceRequestLocation: true` in newer version to get location in network offline mode. But it is not guaranteed.

[2019-10-08 16:07] #31 closed

[2019-10-08 16:08] Agontuk commented on #1
Closing due to inactivity, feel free to open new issue.

[2019-10-08 16:08] #1 closed

[2019-10-08 16:09] Agontuk commented on #32
Closing due to inactivity

[2019-10-08 16:09] #32 closed

[2019-10-08 16:10] Agontuk commented on #49
Closing due to inactivity

[2019-10-08 16:10] #49 closed

[2019-10-08 16:14] Agontuk commented on #52
Please try with the newer version. The problem is not related to android version, but probably with devices. Feel free to open new issue if it persists.

[2019-10-08 16:14] #52 closed

[2019-10-08 16:16] Agontuk commented on #50
Closing due to inactivity, feel free to open new issue if it persists. Also try with the newer version.

[2019-10-08 16:16] #50 closed

[2019-10-08 20:46] Agontuk commented on #56
Closing due to inactivity

[2019-10-08 20:46] #56 closed

[2019-10-08 20:52] Agontuk commented on #74
Closing due to inactivity, you can use clearWatch when app goes to background and start watching again when app is in foreground

[2019-10-08 20:52] #74 closed

[2019-10-08 22:53] LukePenkava commented on #134
@Agontuk Can you please clarify on these errors ? It seems like some other issue beyond googlePlayeServicesVersion, but i dont realy know. Just wondering if something can be done about it. I am assuming it has something to do with RN 0.61.2

[code]

Thank you

[2019-10-08 23:09] LukePenkava commented on #134
@Agontuk @sebinq  I have changed

`android.support.v4.app.ActivityCompat;`
to
`androidx.core.app.ActivityCompat;`

at node_modules/react-native-geolocation-service/android/src/main/java/com/agontuk/RNFusedLocation/LocationUtils.java:10

the build is now succesful without any errors, but i would point out i realy dont know what i am doing. I just figured it has something to do with androidx support

[2019-10-08 23:46] LukePenkava commented on #134
@Agontuk I have tested in on the device now through Internal testing and all seems to work fine, so as far as i am concerned, its fixed.

[2019-10-08 23:46] #134 closed

[2019-10-09 05:47] Agontuk commented on #134
Yes it's about androidx. But running `npx jetify` should automatically replace the legacy support library's import to androidx. You shouldn't have to do it manually.

[2019-10-09 11:18] pierroo opened #135 "Always getting timeout"
Hi,

I keep getting timeout with this library as well, even using the latest version.

Not only on android, but also on iOS, so it doesn't seem to be device related.

Whether I am on wifi or data, same result.

Tried to restart the phone, turn off/on gps, same result.

I am using the following parameters:

{ enableHighAccuracy: true, timeout: 10000, maximumAge: 10000 }, with Geolocation.getCurrent

[2019-10-09 12:30] LukePenkava commented on #134
@Agontuk I have not used jetify yet. I have just started new project with 0.61.2 ( porting my whole project from 0.59.10 by creating new one, not by upgrading ) i have installed so far around 10 packages and i didnt have to do jetify.

 I am realy not sure how this works, but my basic understanding is that > 0.60 automaticly uses androidx so there should be no need to use jetify as long as the ins

[2019-10-10 10:25] Agontuk commented on #134
I'll merge this fix soon, but it'll be a breaking change. That's why I'm taking some time to figure out if there's any other small fixes I can do before releasing a major version.

[2019-10-10 10:31] LukePenkava commented on #134
@Agontuk  sure, or just mention in the docs the need to use npx jetify. I am sure that a lot of people who are transitioning to the >0.60 are confused about it as i am :)

[2019-10-12 06:15] ramkey-akil opened #136 "How to getting Location only from GPS ?"

[2019-10-15 11:34] PocketDaniel opened #137 "The connection to Google Play services was lost"
I'm getting a crash saying "The connection to Google Play services was lost". This happens regularly, mostly after app reinstall / update.
The strangest part is that crash is occurring only on one particular device segment - for me it is Huawei ATU-L21. Also tested the app on some Samsung devices and did not get any issue there.

react-native: 0.59.2
react-native-geolocation-service: 1.1.0 (also t

[2019-10-15 22:10] sallarahmed opened #138 "App crashes when import RNFusedLocationPackage in mainApplication.java"
application crashes at start when i import and call RNFusedLocationPackage() every possible solution i have tried but same issue.
react version: 0.59.8

logs:

2019-10-16 03:09:52.875 25783-25817/com.salesflosight E/AndroidRuntime: FATAL EXCEPTION: create_react_context
    Process: com.salesflosight, PID: 25783
    java.lang.NoClassDefFoundError: Failed resolution of: Lcom/google/android/gms/commo

[2019-10-18 12:30] Agontuk commented on #138
You're probably using other google play service libraries in your project and they're using different versions than location service. You have to make sure all play service libraries use the same version.

[2019-10-18 12:34] sallarahmed commented on #138
problem has been resolved by exclude method adding play service version 16 in gradle file thanks for your kind response

[2019-10-18 12:52] Agontuk commented on #137
Does this have to do anything with google revoking Huawei's license ? This error means an internal error occurred when trying to fetch location. Can you try with any other Huawei devices to see if this happens there too ?

[2019-10-18 13:03] Agontuk commented on #135
What is the response you're getting ? If it's `code: 3`, then you don't need to setup manually. Can you checkout the FAQ section and see if it solves your problem ?

[2019-10-21 09:05] vinithreddy3 opened #139 "watchPosition returning two successive callbacks when created in ios"
Device                   : iphone X
Device Version      : 11.4.1
Package Version   : 2.0.1
options used        : { distanceFilter : 25 , enableHighAccuracy : true }
Issue  :  watchPosition returns 2-3 success callbacks with same location coordinates whenever created where there is expected to be only 1 success callback

[2019-10-22 14:18] ivosousaa opened #140 "iOS issues with getCurrentPosition and watchPosition"
Hi,
I'm getting a problem with getting location on iOS, tested on both iOS 12 and 13, real iPhone 7 and iPhone 8 and 11 Pro in the simulator.

My issue is that getCurrentPosition only works the first time I request it, after that one time it begins timming out on all requests, and watchPosition only works two/three consecutive times, and then stops giving more position changes.

[2019-10-24 12:08] spyshower commented on #84
I am still getting this. Any update?

[2019-10-26 15:07] Sbphillips19 commented on #1
I am having a weird issue where when I test on my android s6 the gps location with my internal test track the location piece isn't working.  It's a phone without cellular data, so maybe it's related to that, but I have no issues in any of my simulators.  Wondering if cellular data would have something to do with it?

[2019-10-31 04:26] sainbayarus opened #142 "can not get location from gps, when no cell coverage and no wifi network condition."
when using wifi or cell network it is ok, but without no network condition i cannot get location from GPS. it is even not indicating location indicator on status bar. i checked it open space cause maybe signal interfered by wall. but no luck. it always says request timed out.

react-native 0.59.10
react-native-geolocation-service 3.1.0
android 9.0

[2019-11-04 08:25] zazagag commented on #43
faced the same issue
react-native@0.61.2
react-native-geolocation-service@3.1.0

[2019-11-04 11:34] Return-1 opened #143 "Permission not requested when both NSLocationAlwaysUsageDescription and NSLocationWhenInUseUsageDescription on plist"
When invoking `getCurrentPosition` , the permission dialogue is not invoked when both **NSLocationAlwaysUsageDescription** and **NSLocationWhenInUseUsageDescription** are on the plist.

The problem here is that they both need to be on the .plist because of the very common `react-native-permissions` library.

This can lead to a scenario like i'm facing where i'm forced to use one of the two. Anyone

[2019-11-04 18:21] cinder92 commented on #138
@sallarahmed which version did you use? can you share the codE?

[2019-11-05 08:04] sallarahmed commented on #138
i was on

[2019-11-05 08:05] sallarahmed commented on #138
I was on .59.8

[2019-11-05 08:05] #138 closed

[2019-11-05 19:53] hhunaid commented on #1
I had an issue in iOS where the permissions in system settings state "Ask next time" but it would never ask and always time out. Changed it to "Allow" in system settings and it started to work.

[2019-11-05 21:49] antonioreyna commented on #2
how do i check the permission on android

[2019-11-06 07:54] oakis commented on #2
@antonioreyna https://facebook.github.io/react-native/docs/permissionsandroid

[2019-11-06 13:20] sercanov commented on #143
Yeah, I also had this issue. You'll need to set `authorizationLevel` explicitly

[code]

[2019-11-07 11:32] #143 closed

[2019-11-07 11:34] Return-1 commented on #143
Thank you. Additionally it appears that `react-native-permissions` v2.x.x now supports individual permissions too so there are more than one solutions to this issue

[2019-11-10 03:33] valarisolutionsTeam opened #144 "Permission request not working on iOS"
I have added this in Info.plist
<img width="452" alt="Screen Shot 2019-11-10 at 11 32 08 AM" src="https://user-images.githubusercontent.com/54284460/68538345-d0786c80-03ad-11ea-848e-de9767b9ad43.png">
`Geolocation.requestAuthorization` does not work
![Screen Shot 2019-11-10 at 11 31 39 AM](https://user-images.githubusercontent.com/54284460/68538369-ef76fe80-03ad-11ea-90d2-18e2645c1153.png)

[2019-11-12 14:53] danielbenedykt commented on #144
+1

[2019-11-12 15:30] danielbenedykt commented on #144
I ended up adding 3 items to info.plist to make it work
[code]

[2019-11-13 15:03] TailNest opened #145 "Location won't update after interval timeout"
Hello there, I'm using this module to update the location of the device every 10 seconds. This is the code:

[code]

Unfortunately, even with the option `interval` the location is not updated after 10 seconds. I can see that because the dispatch prints an output on the app's screen and it appears only the first time that  I mount the component.

How can I fix this?

Just for reference: it doesn't

[2019-11-18 10:42] sujatha2016 opened #146 "Geolocation.watchposition is not initiated on redux-state change"

[2019-11-18 10:52] sujatha2016 commented on #146
Hi am trying to start location services like I need to get updated regarding any location changes or every 10 seconds I need a location update. I have added a Geolocation.watchposition like this in Screen A

enableLocationService() {
    console.log("REACHED HERE");
    this.locationListener = Geolocation.watchPosition(
      position => {
        __DEV__ && console.log("LOCATION CHANGED");

[2019-11-22 11:08] andrey-tsaplin commented on #137
Same here.
react-native-geolocation-service version 2.0.1
For me it happens on HUAWEI phones only. But sure it can happens on any device in some circumstances.

As reported earlier: https://github.com/Agontuk/react-native-geolocation-service/issues/72

[2019-11-22 11:18] hari9849238834 commented on #120
I am facing same problem in both ios and android. Will you please help me in android?

[2019-11-22 11:41] ramkey-akil commented on #120
Check the internet state and if the internet state has been changed, remove the event and readd the event

[2019-11-22 11:49] ramkey-akil commented on #120
If network state is changed, clear the Watch and call the geolocation method again

[2019-11-24 08:36] Agontuk commented on #120
If it's iOS specific, you should file an issue in [https://github.com/react-native-community/react-native-geolocation/issues](https://github.com/react-native-community/react-native-geolocation/issues)

[2019-11-24 08:39] Agontuk commented on #146
Seems like an issue with your application logic, this is not related to the library itself. You should ask in stackoverflow.

[2019-11-24 08:45] Agontuk commented on #144
You should configure your permission level like this
[code]

[2019-11-25 05:00] Shrestha17 commented on #120
@ramkey-akil  still not working..
Error message is  {message: "Location settings are not satisfied.", code: 5}

[2019-11-25 05:45] ramkey-akil commented on #120
Make sure to add this android:
AndroidManifest.xml
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

     <uses-feature android:name="android.hardware.location.gps" />
     <uses-feature android:name="android.hard

[2019-11-25 05:46] ramkey-akil commented on #120
Make sure to add in android ::
AndroidManifest.xml

   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

     <uses-feature android:name="android.hardware.location.gps" />
     <uses-feature android:name="android.ha

[2019-11-25 05:48] ramkey-akil commented on #120
@Shrestha17  Make sure to add permission in android
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-feature android:name="android.hardware.location.gps" />
     <uses-feature android:name="android.har

[2019-11-25 05:50] ramkey-akil commented on #120
@Shrestha17  Please add into AndroidManifest.xml
Permission :: ACCESS_FINE_LOCATION,ACCESS_COURSE_LOCATION,ACCESS , NETWORK_STATE
feature :: android.hardware.location.gps , android.hardware.location.network

[2019-11-25 05:51] ramkey-akil commented on #120
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COURSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

[2019-11-25 05:55] ramkey-akil commented on #120
@Shrestha17  please check this
https://github.com/Agontuk/react-native-geolocation-service/issues/108#issuecomment-524217651

[2019-11-25 06:26] Shrestha17 commented on #120
I was testing on flight mode, just turning wifi off return location. I think flight mode doesnot return location. Thanks for help :)

[2019-11-25 06:28] ramkey-akil commented on #120
yes bro flight mode does'nt return any location

[2019-11-25 18:45] cayodonatti commented on #137
Got the same issue on the following Samsung device:
![image](https://user-images.githubusercontent.com/20991516/69568416-4ed23280-0f9a-11ea-82e6-0432e6d812e0.png)

"react-native-geolocation-service": "^3.1.0"

[2019-11-26 11:13] andrey-tsaplin commented on #137
@Agontuk Fixed in pull request above

[2019-11-26 13:14] vvusts opened #148 "boolean.com.facebook.react.bridge.readablemap.haskey(java.lang.string)' on a null object reference"
RN 60.6 library version 3.1.0 (latest).
On android I am getting:
`attempt to invoke interface method 'boolean.com.facebook.react.bridge.readablemap.haskey(java.lang.string)' on a null object reference`
Not tested on IOS yet.

[2019-11-27 14:00] crocodile commented on #135
Leaving this here in case anybody else ends up here with a similar "always getting a timeout" issue:

I was also getting a time out. I found that If I already have "Geolocation.watchPosition" is running "Geolocation.getCurrentPosition" will not work with a time out (error code 3). This is on IOS, on Android I didn't have this issue.

[2019-12-01 06:06] Agontuk commented on #145
Can you try the example app and see if it has the same issue ?

[2019-12-02 02:12] ThePJMP commented on #53
@Agontuk is there any update on this issue?

[2019-12-05 21:53] Mausic commented on #140
Hi,
Have the same issues. May we expect any feedback regarding this?

[2019-12-06 15:42] gvankeerberghen commented on #108
@Agontuk, @cladjules : this works as intended, in my case I have the options
[code]
and I see the dialogue about improving location by activating Location Services, I can answer 'No, thanks' and I still get a location! Thanks for the work btw.

This is great because I do have a few users for whom activating the Google Location Services isn't an option but many others for whom it's fine.

However,

[2019-12-09 17:20] rahamin1 commented on #138
I am using 59.9.

I didn't have any reference to `googlePlayServicesVersion` in my project's folder.
I do have  project-wide properties in my root build.gradle, so I have added, as explained [here](https://github.com/Agontuk/react-native-geolocation-service#android), `googlePlayServicesVersion = "16.0.0"`.

I have attached below my root build.gradle file.
When I try running the app, it is crashing

[2019-12-10 19:27] rahamin1 commented on #25
I followed the suggestions in this thread and my app is still crashing.
I am using RN 0.59.9.

Any idea what I am doing wrong?
### This is my app/build.gradle (the root build.gradle is below it):

[code]

### And the root build.gradle:

[code]

[2019-12-11 23:52] MarlonX19 commented on #55
I had a similar issue when trying to get user's location. Depending on which version of android you now need to ask for the user to grant location, not only by adding the permission line to the AndroidManifest but also by using AndroidPermissions on the react native code

https://facebook.github.io/react-native/docs/permissionsandroid

Still, make sure you have react native geolocation services in

[2019-12-12 19:14] entranOA commented on #28
Any updates on this?

[2019-12-16 20:08] rawbeans commented on #135
I was getting this same error on Android, but not iOS. For me, the fix was to set the timeout higher than the default. I set it to 15000. This doesn't seem to be the OP's issue though.

[2019-12-17 15:10] cristianoccazinsp opened #149 "Please remove warning - Called stopObserving with existing subscriptions"
https://github.com/Agontuk/react-native-geolocation-service/blob/master/js/Geolocation.android.js#L87

Even if we call `clearWatch` before `stopObserving`, this warning is fired every time and gets very annoying. Can we get the warning removed? Or what's the right way to prevent it?

[2019-12-18 03:03] cristianoccazinsp commented on #102
Would it be as easy as using the "Intent" version of the request location updates method? https://developers.google.com/android/reference/com/google/android/gms/location/FusedLocationProviderClient.html#public-taskvoid-requestlocationupdates-locationrequest-request,-pendingintent-callbackintent ? This one was designed for background operation :)

[2019-12-18 22:40] torchsmith commented on #84
Any updates? I'm still getting this.

[2019-12-19 19:17] cristianoccazinsp opened #150 "Merge into react-native-geolocation?"
I gotta say that the Android version of this library is much better than the one from the original library. Wouldn't it be a good idea to merge this there? Any reason not to?

[2020-01-06 10:54] ISLEMNEDDAR opened #152 "can't work with react native 0.60.0 althought it's working in react-native-geolocalisation"
when installing the package we have in the build the error of missing error : error, string, array
with react native 0.60.0
but the react-native-geolocalisation it's working good are they the same?

[2020-01-07 23:18] HugoLiconV commented on #109
Would it work if I use BackgroundTimer library?
Right now I'm using `@react-native-community/geolocation` but I sometimes I get the timeout error, I found a configuration that works but when the app goes to the background or the device is locked  I start getting the timeout error again until I open the app.

I would like to know if someone is having this issue?

[2020-01-08 12:42] baatar777 commented on #117
I am also having the same issue...

[2020-01-10 17:38] zhitomir-oreshenski-mm commented on #152
Hi,

Same here.

[2020-01-10 18:14] ISLEMNEDDAR commented on #152
i see that they are the same packages and the react-native-geolocalisation work good in the new version of react so you can switch the the other package

[2020-01-10 18:14] #152 closed

[2020-01-13 05:19] relightme commented on #55
"react-native": "0.61.4"
"react-native-geolocation-service": "3.1.0"

`react-native link @react-native-community/react-native-geolocation-service` resolved this issue for me.

[2020-01-13 11:35] rezasazesh commented on #135
I faced this issue also and I saw an error in xcode's logger that helped me, make sure you have all of these keys in the `info.plist` and all with a string to explain them:

`NSLocationWhenInUseUsageDescription`
`NSLocationWhenInUseUsageDescription`
`NSLocationAlwaysAndWhenInUseUsageDescription`

[2020-01-15 21:56] netshedzo commented on #84
I had a similar issue all i had to do was  run **react-native link react-native-geolocation-service** and then added **new RNFusedLocationPackage() in MainApplication.java**

[2020-01-16 09:31] Agontuk commented on #102
Not sure, I'll take a look.

[2020-01-16 09:32] Agontuk commented on #84
Try the manual setup if it does not work out of the box.

[2020-01-16 09:35] Agontuk commented on #140
Can you create an issue in [https://github.com/react-native-community/react-native-geolocation](https://github.com/react-native-community/react-native-geolocation) ? This library internally uses the react-native-geolocation module for iOS.

[2020-01-16 09:37] Agontuk commented on #25
Please share the error output and which version of RN & this library you're using.

[2020-01-16 15:41] rahamin1 commented on #25
Not sure if you are asking me... I am using v3.1.0 and RN 0.59.9 (I updated my original comment).
The app just crashed, no message...

[2020-01-17 06:46] oakis commented on #25
@rahamin1 Setup some sort of error reporting. Without getting any error messages its really really hard to figure out the issue.

[2020-01-17 09:10] xclidongbo opened #153 "Where is RNCGeolocation. xcodeproj"
Where is RNCGeolocation. xcodeproj

[2020-01-17 10:23] rahamin1 commented on #25
Makes sense, but I am not working on that project for a while, so it is a bit of a problem to do it...

[2020-01-19 04:14] nuwanarti commented on #34
This worked for me. But which application should I install on android device. should I update google play services ?

[2020-01-20 06:04] Agontuk commented on #153
Please check the screenshots.

[2020-01-20 06:04] #153 closed

[2020-01-24 09:05] bhumijoshi-gkblabs commented on #1
Worked for me

[2020-01-24 09:27] denizbas92 opened #154 "it does not getting location when enableHighAccuracy is false in Android 8.0"
"react-native-geolocation-service": "3.1.0",
react-native: 0.61.5

const options: GeoOptions = {
            enableHighAccuracy: false,
            timeout: 3000,
        }
        GeolocationDeneme.getCurrentPosition((position: GeoPosition) => {
            console.log("4");
            resolve(position);
        }, (error: GeoError) => {
            console.log("hata ");
            reject(error

[2020-01-24 09:33] #154 closed

[2020-01-24 10:23] Temirtator commented on #84
issue is not solved

[2020-01-31 18:37] Ankur-MoneyKey opened #155 "Error : @react-native-community/geolocation:NativeModule.RNCGeolocation is null."
I installed the latest version and while using this library. I am getting:
Error : @react-native-community/geolocation:NativeModule.RNCGeolocation is null.

I have also successfully linked by using the below and rebuild and rerun the project.
react-native link @react-native-community/geolocation

**Note : I am using expo cli project.**

[2020-02-01 14:10] coolprinze commented on #84
Had similar issue and this saved me within 5mins `[stackoverflow soluntion](https://stackoverflow.com/questions/56908771/typeerror-undefined-is-not-an-object-evaluating-navigator-geolocation-request)`

[2020-02-03 06:27] oakis commented on #155
What version of RN are you using?

[2020-02-03 06:30] oakis commented on #84
@coolprinze As also stated in the readme.

[2020-02-03 14:50] Ankur-MoneyKey commented on #155
@oakis  I am using 0.61.4

[2020-02-03 14:51] Ankur-MoneyKey commented on #155
HI oakis I am using 0.61.4.

[2020-02-03 23:34] tylerolechnowicz commented on #149
I can also attest to this...The warning is fired every time even if `clearWatch` is called before `stopObserving`

[2020-02-04 03:07] torchsmith commented on #84
The solution I went with, which ended up being the easiest, was to just not use this at all. It has it's pros and cons though.

[2020-02-04 07:15] oakis commented on #155
Try unlinking @react-native-community/geolocation (should not be needed on RN60+)
and then follow setup instructions(im guessing your issue is with iOS, you didnt state that):

* Update your Podfile
[code]
* Then run `pod install` from ios directory

[2020-02-04 14:27] Ankur-MoneyKey commented on #155
@oakis Yes this issue is with ios and I tried updating podfile.
**Note : I am expo cli for the project.**

**while doing that I am getting below error:**

[!] Unknown command: `react-native-geolocation,`
Did you mean: deintegrate?

Usage:

    $ pod COMMAND

      CocoaPods, the Cocoa library package manager.

[2020-02-05 05:00] buddhiv commented on #134
This works, I fixed and tested using this fix even before coming to the issue page. This should be added to the guide if not added yet.

[2020-02-07 05:05] littlehome-eugene commented on #109
Say we have a `watchPosition()` in our App.js and it gives us locations when app is in foreground

We want to watch positions even in background or terminated state
What do we need to do in our headless task ?
Do we need another watch statement like the following?

[code]

[2020-02-07 05:58] oakis commented on #155
[code]
The above is not a command, add it to your `podfile` (it is called just podfile).

Then run the command `pod install`.

[2020-02-10 05:46] sjitprogrammer commented on #84
Check These lines added in your MainApplication.java

import com.agontuk.RNFusedLocation.RNFusedLocationPackage;

add new RNFusedLocationPackage() in

 @Override
        protected List<ReactPackage> getPackages() {
            return Arrays.<ReactPackage>asList(
                    new MainReactPackage(),
                    new MapsPackage(),
                    new RNFusedLocationPackage()

[2020-02-10 05:51] Temirtator commented on #84
that solution solved my issue

[2020-02-10 12:55] fabripeco commented on #108
Hi!

Using `react-native-geolocation-service@4.0.0` (react-native 0.61.3 Android 6), calling
`Geolocation.watchPosition(successCb, errorCb, {
                 enableHighAccuracy: true,
                 interval: 20000,
                 showLocationDialog: true,
                 useSignificantChanges: true,
})`

the location dialog doesn't appear if the GPS is off and it results in error callback {

[2020-02-10 20:29] njlcll commented on #155
I am working on windows platform and get the same problems. I use npm install to install and create a boilerplate
 I am running 0.61.4.

i add the following to the home page
import Geolocation from '@react-native-community/geolocation';

if i run i get unable to resolve module @react-native-community/geolocation

I tried running
npm install @react-native-community/geolocation --save
I then get the

[2020-02-11 05:28] oakis commented on #108
@fabripeco Check for permissions first I guess https://facebook.github.io/react-native/docs/permissionsandroid

[2020-02-11 05:32] oakis commented on #155
@njlcll
You need to be on macOS to run pod commands since its for iOS.
You should NOT need to install @react-native-community/geolocation manually.

[2020-02-11 07:41] fabripeco commented on #108
No, I get the necessary permission before calling watchPosition. Actually when I call getCurrentPosition, the location dialog is shown and GPS is turned on when I click Ok. The problem raises only with watchPosition and GPS turned off.

[2020-02-11 10:19] njlcll commented on #155
Thanks any idea why I get the errors below if I dont add manually
unable to resolve module @react-native-community/geolocation
after adding
import Geolocation from '@react-native-community/geolocation';
in code

or after
npm install @react-native-community/geolocation --save
the following line
import Geolocation from '@react-native-community/geolocation';
generates
react-native-community/geolocati

[2020-02-12 00:12] airtonazevedo commented on #28
@entranOA  I found a very good solution.
I did a project where you can see the solution

https://github.com/airtonazevedo/react-native-geolocation-offline-and-airplanemode

[2020-02-14 22:55] HugoLiconV opened #161 "Question: How to Mock different values for the same module using Jest"
I created a file called `react-native-geolocation-service.ts` in the folder `__mocks__` which contains the following:
[code]
and this is my test
[code]
And everything works! But I need to test both cases: when it gets the current location and when there is an error but I don't know how to mock the implementation in each test.

[2020-02-16 08:01] oakis commented on #161
This is a question for stackoverflow and jest. Look for mockImplementation

[2020-02-17 21:20] #161 closed

[2020-02-17 22:05] MihaiGitHub opened #162 "App crashes when react-native-geolocation-service and react-native-maps modules are installed together"
**Bug**
react-native-geolocation-service does not work with react-native-maps module in the same project. App crashes on load. Once react-native-geolocation-service module is removed from the project, the app works fine.

react-native-geolocation-service is needed to get the users location, because it is more accurate than the javascript navigator object.

https://bitbucket.org/mihailiviu/react-na

[2020-02-18 13:09] ShaharyarMaroof commented on #135
hey I am also facing this issue, both on android and iOS. I have the permission strings in my info.plist as well. for android I am getting the following error ```{message: "Location request timed out.", code: 3}```
any idea how to fix it?

[2020-02-20 12:03] CharlesMenier commented on #162
We have a similar problem on my project but at compiling time :

[code]

And when trying to switch to version 16.0.0 of com.google.android.gms:play-services-location we get another error

[code]

[2020-02-21 20:46] MihaiGitHub commented on #162
This is what I pulled from logkitty and a screenshot of what it looks like on the emulator:

[code]
![image](https://user-images.githubusercontent.com/5934128/75069955-883e0f80-54af-11ea-9d9c-1c96fd66f5cc.png)

[2020-02-26 09:03] Chars4785 opened #163 "User Location Tracking on Background in Virtual Device doesn't work"
Explain:
Hello,
I use your library. I have two Questions.
One.
i wonder I want to track user GPS on background. On Android Virtual Devices can work Tracking user Location. However my device isn't working on background.
Two.

 Geolocation.watchPosition(
        async (position) => {
          console.log(position);
          const {latitude,longitude} = position.coords;
          await commonStore.

[2020-02-26 09:28] iamacoderguy commented on #93
I think it could be done by using distanceFilter option. Correct?

[2020-02-26 13:08] oakis commented on #93
I think that `distanceFilter` will just ignore updates if they don't meet the required moving distance. That might be what OP wants tho.

[2020-02-26 20:39] valeriashpiner commented on #162
Same for me

[2020-02-27 10:06] dwijonarko commented on #84
Not working for me, did we still link manually in RN 0.60 ?

[2020-02-27 16:24] Temirtator commented on #84
No

On Thu, 27 Feb 2020, 16:06 Dwi Wijonarko, <notifications@github.com> wrote:

[2020-02-28 11:04] icebergMNE commented on #155
I have problem with installing it in expo based project.
Is there anything else I need to do after npm installing it?
I am getting this error
`node_modules\react-native-geolocation-service\js\Geolocation.android.js:15:24 in getCurrentPosition`

[2020-03-01 08:40] oakis commented on #84
This question has been answered a million times and is in the README.md

[2020-03-03 09:10] iaaltojarvi commented on #77
Same problem here. Calibrating does not help. Accuracy fluctuates between 16-30, but it should be under 10 in our case.

[2020-03-04 17:15] jamestri-nandos commented on #135
I have just started getting this too - Android only. Was working fine a couple of days ago.

[2020-03-04 17:29] idanhaviv commented on #135
on android several solutions worked for me:
1. set enableHighAccuracy to false
2. on one emulator - opening google maps app solved the location issue for my app
3. on a different emulator - restarting the emulator by a long press on the shut down button (regular shut down didn't work)
<img width="438" alt="Screen Shot 2020-03-04 at 19 27 22" src="https://user-images.githubusercontent.com/8762573/7

[2020-03-04 17:29] idanhaviv commented on #39
on android several solutions worked for me:
1. set enableHighAccuracy to false
2. on one emulator - opening google maps app solved the location issue for my app
3. on a different emulator - restarting the emulator by a long press on the shut down button (regular shut down didn't work)
<img width="438" alt="Screen Shot 2020-03-04 at 19 27 22" src="https://user-images.githubusercontent.com/8762573/7

[2020-03-11 03:54] Michae1-bom commented on #87
Any update on this? In my case unless the user set Location to "High accuracy", calling getCurrentPosition() would trigger the permission dialog, and pressing OK does not change the Location settings at all, which basically creates a loop. This is with version 4.0.0 and RN 0.60.5

[2020-03-14 06:40] fathima-shamsu opened #166 "how to block fake location?"

[2020-03-16 15:17] Agontuk commented on #109
You should just implement it once inside HeadlessTask and use that in the UI.

[2020-03-16 15:20] Agontuk commented on #87
If you set `enableHighAccuracy: true`, it'll always show the dialog unless location mode is already set to "High Accuracy".

[2020-03-16 15:27] Agontuk commented on #162
None of the logs are giving any info related to the crash. Can you guys paste the full logs here so that I can find the issue ? Although it seems to me the crash is related to the play service library version mismatch. You have to use same version for both play-services-location & play-services-maps library.

[2020-03-16 15:32] Agontuk commented on #155
I haven't yet used expo, but as far as I know it does not support adding external native modules. You probably have to eject expo project to modify native dependencies.

[2020-03-17 06:20] Michae1-bom commented on #87
The main issue here is clicking OK doesn't actually change the settings properly and the next location request will cause the dialog to pop up again causing an infinite loop...

[2020-03-18 00:05] saad65 commented on #28
If anyone is having this error even with wifi and mobile data turned on, put your location mode in your phone settings to device only and in the findCoordinates function set enableHighAccuracy to false.

[2020-03-18 15:05] LinaEfer opened #167 "Altitude value"
### SPECIFICATION
[code]
### ISSUE
When I'm trying to get a position from 2 Device : `IPhone Xs & Nexus 9(Android 7.1.1)`, I have 2 different results :

[code]

All parameters except `altitude` is ok, but `altitude` looks like Android and IOS display it in different units: Android - `feet`, IOS - `meters`. But I'm not sure about that..

Any idea of why positions are different?

[2020-03-20 11:24] LinaEfer commented on #167
The issue is no longer relevant:
IOS show altitude in meters above sea level.
Android: altitude in meters above the WGS 84 reference ellipsoid.

Have to count GeoId height manually from binary file [ WW15MGH.DAC ](https://earth-info.nga.mil/GandG/wgs84/gravitymod/egm96/binary/binarygeoid.html) and Android altitude subtracts this height.

Exemple :
[code]

[2020-03-20 11:24] #167 closed

[2020-03-23 08:30] silviodaminato commented on #162
Hello, I think I have the same problem. As far as I can see it happens on Android 10, but I cannot guarantee that it happens only there.

Here are my logs:
`2020-03-23 09:27:26.658 18305-18416/com.silviodaminato.airquality E/AndroidRuntime: FATAL EXCEPTION: create_react_context
    Process: ******
    java.lang.NoSuchMethodError: No static method isAtLeastR()Z in class Landroidx/core/os/BuildCompa

[2020-03-24 08:07] replecta opened #168 "Getting wrong position but accuracy saying it's in the radius"
Sometimes i'm receiving wrong position with high accurate property saying approx. 20 - 100 meters but actually it's 1.3 kilometers away from my previous location causing inaccuracy on my tracking application.

[2020-03-24 12:28] zabkwak commented on #162
Updated play-services versions in my app build.gradle and it seems working.
[code]
And changed version in the module build.gradle
`def DEFAULT_GOOGLE_PLAY_SERVICES_VERSION = "17.0.0"`

RN 0.61.5
module 4.0.0
rn-maps 0.26.1

[2020-03-24 19:50] samitha9125 opened #169 "SuccessCallback Details are Missing in the Documentation"
Hi all,

First of all I would like to thank to all people who made this library. This is an awesome work and thank you guys.

My issue is that the Documentation/Readme of this library lacks some explanation of successCallback details such as what does speed means, how it gets calculated, unit of the speed value ...etc.

It would be awesome if someone can add these to the documentation and explain

[2020-03-26 09:25] Agontuk commented on #87
This is probably a device specific or google play service issue. Check [https://stackoverflow.com/questions/55520315/requesting-high-precision-location-with-locationsettingsrequest-not-updating-loc](https://stackoverflow.com/questions/55520315/requesting-high-precision-location-with-locationsettingsrequest-not-updating-loc).

Are you testing with samsung device ? You should try updating the play-s

[2020-03-29 03:29] adhadimas91 commented on #166
yes we need this feature

[2020-03-31 17:05] gunnx opened #170 "CurrentPosition always the default"
Possibly I've just missed something really simple but when I request currentPosition it always returns   {"latitude": 37.42342342342342, "longitude": -122.08395287867832}

I've tried setting location via the Location option in the emulator and also by trying `geo fix` from telnet but no change.
If I open Google Maps on the emulator it defaults to the correct location, so I kinda know that must be

[2020-03-31 21:33] Agontuk commented on #87
Can you go inside node_modules and open the file `RNFusedLocationModule.java`, find the method `onActivityResult` and add this line as the first line ?

[code]

Now from terminal run `/path/to/your/adb logcat "RNFusedLocation:*" "*:S"`. Check what is printed when you press "No Thanks" and "OK".

[2020-04-02 11:19] shacharbuda commented on #170
We (@idonov8 and I) just got with the same issue.
the maximumAge option decides how long will the last location retrieved will be stored in cache.
If you wish to always get the location from the location service origin (not cache),
All you need to do is add an option
```{ maximumAge: 0 }```

[2020-04-09 00:28] ezos86 opened #171 "watchPosition ID"
How can I get the id of the watchPosition to clear it? Seems like it's not returned.

Surprised this has not come up.

[2020-04-09 06:52] OlivierVoyer opened #172 "watchLocation and getCurrentPosition usage conflicts"
Hi, I am using both features of your package, watchLocation to detect when I am going to far from a reference position, in background, with low battery consumption, and getCurrentPosition from time to time to get an update of my current location (either in foreground or in background).

My issue is that it seems that the options I am using for the watch are overriden by my getPosition call (especi

[2020-04-10 05:46] pavermakov commented on #170
@shacharbuda this is not working on ios

[2020-04-10 05:50] pavermakov commented on #88
@gghnisan is your solution working on ios?

[2020-04-11 15:54] oakis commented on #172
Why not use only `watchPosition` for both? They should both give the same position anyways..

[2020-04-11 16:04] OlivierVoyer commented on #172
My situation is having a watch running all the way during my app execution and in background. And moving too far, so some other events, triggering a report with the need of the live position (getCurrentPosition). That is why I used the 2 different calls.

[2020-04-11 20:41] oakis commented on #172
I mean use the same watchPosition for both. Store it globally if needed, for example with redux.
Then you can access it for both your needs, as the position should be the same.

[2020-04-13 06:23] OlivierVoyer commented on #172
In my particular situation it cannot work.
My watch is running constantly to detect that the user moves more from xxx meters (so its distance filter is somewhat xxx/2).
But I also need to trigger some actions every xxx minutes that requires the precise current location (so its distance filter being 0 to avoid getting a timeout cause the user didn't move enough).
So when my getCurrentPosition is ca

[2020-04-13 09:01] Agontuk commented on #171
Yes, it's returned after calling watchPosition. Please check again.

[2020-04-14 21:43] ezos86 commented on #171
Nope @Agontuk. See Screenshots

![image](https://user-images.githubusercontent.com/1334598/79277242-4b164e00-7e5e-11ea-98c7-d12cb952b371.png)

![image](https://user-images.githubusercontent.com/1334598/79277220-3f2a8c00-7e5e-11ea-98c6-f77ad3032230.png)

[2020-04-15 07:36] Agontuk commented on #171
Not the response, the function itself returns the id.
[code]

[2020-04-15 07:36] #171 closed

[2020-04-15 17:26] ezos86 commented on #171
@Agontuk Thank you.

[2020-04-16 08:51] Agontuk commented on #170
It's working fine here. I can change the location from emulator settings and it's being reflected properly in `getCurrentPosition` response.

[2020-04-16 13:31] Agontuk commented on #172
Not being able to reproduce this. I've tested in the emulator with the config you provided. `watchPosition` is only firing first time, until I change the location it's not emitting new position. Then I  called `getCurrentPosition` and it returned a position properly. But `watchPosition` still does not firing any events, which is ok.

Can you check again if it's something on your end ?

[2020-04-16 13:37] Agontuk commented on #162
play service library version mismatch. You have to use same version for both play-services-location & play-services-maps library. You can set your preferred version in `ext` block in `build.gradle` file using `googlePlayServicesVersion` variable.

[2020-04-16 13:39] Agontuk commented on #148
Sorry for the late reply, can you try latest version and see if it works ? If not, provide an example.

[2020-04-16 13:40] Agontuk commented on #146
Closing due to inactivity

[2020-04-16 13:40] #146 closed

[2020-04-16 13:41] Agontuk commented on #145
Just realised you set the distanceFilter to 200, so unless you're moving location will not update. Closing this for now, feel free to open new issue if problem persists.

[2020-04-16 13:41] #145 closed

[2020-04-16 13:46] Agontuk commented on #169
This library does not calculate any of the result it emits. You have to read the android & ios documentation respectively to know how they're calculated.

Here is the android doc [https://developer.android.com/reference/android/location/Location#getAccuracy()](https://developer.android.com/reference/android/location/Location#getAccuracy())

[2020-04-16 13:46] #169 closed

[2020-04-16 13:50] Agontuk commented on #117
Pretty sure it's setup related issue. Try the manual setup if auto linking does not work. Closing this for now, feel free to open new issue.

[2020-04-16 13:50] #117 closed

[2020-04-16 13:50] #115 closed

[2020-04-16 13:51] Agontuk commented on #104
Closing due to inactivity

[2020-04-16 13:51] #104 closed

[2020-04-16 13:52] Agontuk commented on #84
Closing this, as this is setup related issue.

[2020-04-16 13:52] #84 closed

[2020-04-16 13:58] Agontuk commented on #114
Sorry for the late reply, google play service does not guarantee which provider it'll use to fetch location. It'll find the suitable provider based on the configuration.

[2020-04-16 13:58] #114 closed

[2020-04-16 13:59] Agontuk commented on #113
Closing due to inactivity

[2020-04-16 13:59] #113 closed

[2020-04-16 14:00] #107 closed

[2020-04-16 14:04] Agontuk commented on #93
Like @iamacoderguy & @oakis said, you can prevent location bounces by setting distanceFilter. Closing this for now, feel free to open new issue if problem persists.

[2020-04-16 14:04] #93 closed

[2020-04-16 14:06] Agontuk commented on #116
Sorry for the late reply, you can use distanceFilter option to reduce location bounces. Also, why are your interval is set to lower than fastestInterval ?

[2020-04-16 14:08] #116 closed

[2020-04-16 14:10] #86 closed

[2020-04-16 14:13] Agontuk commented on #120
Closing due to inactivity

[2020-04-16 14:14] Agontuk commented on #118
Sorry for the late reply, if the problem still persists please file an issue here [https://github.com/react-native-community/react-native-geolocation/issues](https://github.com/react-native-community/react-native-geolocation/issues)

[2020-04-16 14:15] #118 closed

[2020-04-16 14:15] Agontuk commented on #126
Closing due to inactivity

[2020-04-16 14:16] #126 closed

[2020-04-18 14:50] OlivierVoyer commented on #172
Better to give an example probably, please find a sample project in attachment. Run `yarn install && cd iOS && pod install && cd ..` before running it.

[MyApp.zip](https://github.com/Agontuk/react-native-geolocation-service/files/4496801/MyApp.zip)

Note that I am running in on an iOS Simulator iOS 13 with location debug to "run" for example and get the following execution trace showing that the

[2020-04-18 15:21] pierroo commented on #168
I am actually facing the same issue; but sometimes with error of up to 100kilometers.

This seems to happen totally randomly on some android devices (haven't been able to reproduce it myself, but my app has millions of users and it does happen a lot)

For example, users from singapore are ALWAYS found in Indonesia...

Did you find any kind of fix @replecta ?

[2020-04-19 07:01] Agontuk commented on #172
Ohh, I thought you're facing this in android. This library uses iOS module from [@react-native-community/react-native-geolocation](https://github.com/react-native-community/react-native-geolocation), so you should file an issue there instead.

[2020-04-19 07:06] OlivierVoyer commented on #172
Added a comment in https://github.com/react-native-community/react-native-geolocation/issues/85#issuecomment-616061999

[2020-04-19 10:11] replecta commented on #168
@pierroo Unfortunately i haven't. I'm still stuck with it.

[2020-04-19 10:15] pierroo commented on #168
Have you tried the basic @react-community/react-native-geolocation?

I am starting to believe that on some android device this "FusedLocationProviderClient API" brought by this plugin is actually not working...

[2020-04-21 15:23] Agontuk commented on #168
I don't think there's much I can do regarding this. Location will always be inexact since it's depending on many factors, so this kind of issue will popup sometimes. At best, you can filter the location you're getting by comparing the accuracy with previous one.

But if you find a solution for this, please let me know :)

[2020-04-21 15:38] Agontuk commented on #149
Sorry for the late reply, you do not need to call `stopObserving`, `clearWatch` will call it if there's no watchers left. That means you must have multiple watchers subscribed, some of which are not cleared yet. That's why you're getting warning.

[2020-04-21 18:34] Agontuk opened #173 "iOS module implementation"
Hello guys, due to the pandemic I've some free time now. So I decided to learn a little bit of swift and  try to implement my own geolocation module for iOS. I'll be updating this thread as I implement features one by one. You can track the progress here.

[https://github.com/Agontuk/react-native-geolocation-service/tree/next](https://github.com/Agontuk/react-native-geolocation-service/tree/next)

[2020-04-23 06:58] Agontuk commented on #144
Closing due to inactivity

[2020-04-23 06:58] #144 closed

[2020-04-23 07:03] Agontuk commented on #139
Sorry for the late reply, if the problem still persists try updating to the latest version. If it still does not work, file an issue in [https://github.com/react-native-community/react-native-geolocation/issues](https://github.com/react-native-community/react-native-geolocation/issues)

[2020-04-23 07:03] #139 closed

[2020-04-23 11:40] sallusalman opened #174 "Location request timed out most of the time."
Im using getCurrentPosition to get user location with following params.

[code]

Most of the time response will be Location request timed out. Only after getting the user location I can generate data based on that. Is there any way to fix this issue or should i try any other libraries.

[2020-04-23 14:25] deserthurricane commented on #135
Opening Google Maps helped on Pixel API29 emulator, thank you!

[2020-04-24 11:51] Agontuk commented on #172
@OlivierVoyer, I'm trying to implement my own iOS module right now. I'll try to solve this issue in my implementation. Let me know if you're willing to test it, and your current xcode & RN version. You can track the progress here [https://github.com/Agontuk/react-native-geolocation-service/issues/173](https://github.com/Agontuk/react-native-geolocation-service/issues/173).

I'll update the setup i

[2020-04-24 11:54] Agontuk commented on #174
If it's android, some reported that opening google maps once will solve this issue. For iOS, I'm not sure what the issue could be. Are you using emulator or actual device?

[2020-04-25 21:17] Agontuk commented on #172
@OlivierVoyer , I've updated the instructions to setup the new ios module in this branch [next](https://github.com/Agontuk/react-native-geolocation-service/tree/next). If possible, please test and let me know if you have any trouble during setup. I've provided a possible fix for this issue, but right now background mode is not implemented yet. So you can only test it while the app is in foreground

[2020-04-27 09:53] Agontuk commented on #130
Closing due to inactivity

[2020-04-27 09:53] #130 closed

[2020-04-27 09:54] #137 closed

[2020-04-27 10:16] Agontuk commented on #140
I'm trying to implement ios module, you can track the change here [https://github.com/Agontuk/react-native-geolocation-service/issues/173](https://github.com/Agontuk/react-native-geolocation-service/issues/173). If you can, test and see if it fixes the issue.

[2020-04-27 10:17] Agontuk commented on #166
There should be a key "mocked" in android, I think that can be used for detecting fake location.

[2020-04-27 10:20] Agontuk commented on #155
I'll be removing the @react-native-community/geolocation dependency as I'm currently implementing ios module. You can track the progress here [https://github.com/Agontuk/react-native-geolocation-service/issues/173](https://github.com/Agontuk/react-native-geolocation-service/issues/173).

[2020-04-27 10:20] #155 closed

[2020-04-27 16:08] Agontuk commented on #170
It's emulator problem. Possible fix is to open google maps at least once, or restart the emulator once. Then it should work properly.

[2020-04-27 16:08] #170 closed

[2020-04-27 16:12] Agontuk commented on #163
Interval option is used to send periodic location update after a fixed amount of time has passed. But it's not exact. You should also set distanceFilter to 0 so that you can get update after 5 seconds, but the timing will vary.

[2020-04-27 16:17] Agontuk commented on #127
Sorry for the late reply, there's no need to use stopObserving. `clearWatch` calls stopObserving if there is not watchers left. You should check if all the watchers are being cleared properly or not.

Also if your app is running on background, then it'll always watch for location changes. You should stop it manually based on your business requirements.

[2020-04-27 19:18] sombizbuzzz commented on #174
same issue i am facing in android
Most of the time response will be Location request timed out

[2020-04-29 09:54] pavermakov commented on #173
omg this is great!

[2020-04-30 12:23] Agontuk commented on #174
set timeout to 0 and see how much time it takes to get a fix on your location.

[2020-05-01 02:02] orhanoksuzz opened #175 "RN v0.62.2 - No podspec file was found."
I am getting the Podspec file not found error. Can you help me?

<img width="575" alt="Ekran Resmi 2020-05-01 05 01 43" src="https://user-images.githubusercontent.com/16277060/80775620-dc790600-8b68-11ea-8ce2-88abc25d99b7.png">

[2020-05-01 07:24] Agontuk commented on #175
It's because this library has ios module, it uses the @react-native-community/geolocation package for ios. But I'm implementing ios module, so you should try out this branch [https://github.com/Agontuk/react-native-geolocation-service/tree/next](https://github.com/Agontuk/react-native-geolocation-service/tree/next). Feedbacks are welcome.

You can track the progress here [https://github.com/Agontu

[2020-05-01 16:19] penebrain opened #177 "react native geolocation"

[2020-05-01 16:20] #177 closed

[2020-05-04 04:09] LeThanhAn opened #178 "Transform classes with dex builder for debug and release failed"
![image](https://user-images.githubusercontent.com/27878360/80935548-a99c6f80-8dff-11ea-88ce-f848682a29a6.png)

Hi all

After installing the library, I can no longer build my app on android. Above is the screenshot of the issue. When removing the library, however, I can build my app again.

Here is my gradle config

[code]

[2020-05-05 17:26] smsmdida opened #179 "Update @react-native-community/geolocation dependency to latest"
Hey,

i noticed that
@react-native-community/geolocation is set to 1.4..
the latest is 2.0.1
any reason of this ? or can i create a PR to update it ?

[2020-05-06 11:58] Agontuk commented on #178
Screenshot does not provide any info regarding the build fail. Try changing play service version from gradle config using `googlePlayServicesVersion`.

[2020-05-06 12:00] Agontuk commented on #179
There's no ios changes from 1.4 to 2.0.1, so it's not needed. Also I'll be removing `@react-native-community/geolocation` dependency in the next version. See the progress here #173

[2020-05-06 12:00] #179 closed

[2020-05-06 14:08] miralmsojitra commented on #135
Hay did you found any solution?
i am having same issue since 2 weeks.

[2020-05-07 11:06] jplew commented on #175
One installs that branch like this, right?

`npm install git://github.com/Agontuk/react-native-geolocation-service.git#next`

[2020-05-07 11:38] Agontuk commented on #175
Yes, that should work fine. Do let me know if you've any suggestion or face any problem. Closing the issue for now, I'll be merging this into master branch soon.

[2020-05-07 11:38] #175 closed

[2020-05-08 10:45] kacperkurek commented on #178
@LeThanhAn  if you also setup?
In the `android/app/build.gradle` file,
`
dependencies {
  def multidex_version = "2.0.1"
  implementation 'androidx.multidex:multidex:$multidex_version'
}`
In the `MainApplication.java` file,
`import androidx.multidex.MultiDexApplication;
public class MainApplication extends MultiDexApplication implements ReactApplication {
  ...
}`

[2020-05-08 10:51] Agontuk commented on #173
iOS implementation is done, I'll merge this into master soon. If anyone has any suggestion or faced any issue, let me know.

[2020-05-08 13:30] ASIF-Mahmud1 commented on #174
I am facing the same issue

[2020-05-08 14:05] cristianoccazinsp opened #180 "4.0.1 warning"
Updating from 4.0.0 to 4.0.1 is raising the following warning, can you silence this somehow?

`[!] use_native_modules! skipped the react-native dependency 'react-native-geolocation-service'. No podspec file was found.`

Lastly, could the dependency to @react-native-community/geolocation be made a peer dependency? Otherwise, the library ends up installed twice.

[2020-05-09 11:43] Agontuk commented on #180
Try `rm -rf node_modules/react-native-geolocation-service/ios`. ios folder was mistakenly added when publishing to npm.

Why @react-native-community/geolocation is installed twice ? You shouldn't add it as a dependency in your package.json.

[2020-05-09 12:09] cristianoccazinsp commented on #180
I'm almost sure I tried deleting the folder, but the iOS folder came back somehow.

About the duplicate, perhaps I'm wrong and it only gets installed once, but I had to make some fixes to the iOS version of @react-native-community/geolocation, so I need to install it from my fork/github.  Now that I think of, even if it is listed as a dependency, the native code should be installed only once right

[2020-05-11 06:41] Agontuk commented on #180
There can be duplicate packages in node_modules with different versions, but react-native will use only one automatically or that you pointed in podfile.

[2020-05-11 17:01] sallusalman commented on #174
@Agontuk i tried opening google maps and location was shown in the map. then opening the app did not fix the issue for me. im having this issue mostly on android m devices. is there any workaround to this. im still having this issue.

[2020-05-11 17:02] sallusalman commented on #174
@Agontuk  i tested on actual device and also on emulator. im having this issue only on android. IOS is working fine.

[2020-05-12 01:45] jbolotin commented on #180
Thanks for the great library, @Agontuk. Is it possible to release a new version with `node_modules/react-native-geolocation-service/ios` removed? I followed your instructions, and it does fix the problem for me, but it took a bit of hunting to find this issue, and I imagine everyone updating to 4.0.1 will experience the same problem.

[2020-05-12 19:03] osamaaamer95 commented on #174
The default value for `distanceFilter` is set to 0 meters, which might be causing this issue. It also doesnt make sense in low accuracy situations. I tried setting it to something like 250 meters and that fixed it for me. Might just be coincidence though.

[2020-05-14 03:15] ashu-11 commented on #168
did anyone find any solution and alternative @pierroo @Agontuk @replecta

[2020-05-14 12:55] sallusalman commented on #174
@osamaaamer95  can you share the complete code here?

[2020-05-14 12:57] sallusalman commented on #135
@miralmsojitra have you solved it yet? im also having the same issue in some devices most of the time.

[2020-05-14 17:47] Agontuk commented on #174
Like I said, remove the timeout option and then request location. See how much time your device needs to get a gps fix. If it can't get a fix, it's most likely a device issue.

[2020-05-15 03:09] orzhtml commented on #180
[!] use_native_modules! skipped the react-native dependency 'react-native-geolocation-service'. No podspec file was found.
    - Check to see if there is an updated version that contains the necessary podspec file
    - Contact the library maintainers or send them a PR to add a podspec. The react-native-webview podspec is a good example of a package.json driven podspec.
    See https://github.com/

[2020-05-15 09:02] sallusalman commented on #174
@Agontuk  this issue is mostly in marshmallow devices. when users open google maps they get the location. but in app they are not. and how can i tell the users that its the device's issue that they are not getting the location. :( i will remove the timeout and update it here.

[2020-05-15 12:11] Agontuk commented on #180
4.0.2 published, should fix the issue.

[2020-05-15 12:11] #180 closed

[2020-05-16 09:26] Agontuk commented on #174
It's not related to marshmallow, I'm still using marshmallow & have no issue getting location. Many other users also face this issue in different android versions. If you have any device that has this issue, you should check the native log and find if there's any gps/location related error.

[2020-05-24 17:27] Kamill90 commented on #174
I have this problem only with Android 10

[2020-05-24 18:36] Kamill90 commented on #135
I have this error almost only on Android 10. Any clue?

[2020-05-27 15:37] KDederichs opened #181 "Class cast exception"
Hey,

I've seen this pop up in our error catcher and I think it's related to this:

[code]

RN 0.62.2
react-native-geolocation-service: 4.0.2

[2020-05-28 07:34] idanhaviv commented on #135
I keep getting this timeout mostly on ios
i'm setting

if (Platform.OS === "ios") {
  Geolocation.setRNConfiguration({authorizationLevel: 'whenInUse'});
}

and using this config:

enableHighAccuracy: false,
timeout: 15000,
maximumAge: 10000

anyone has any hint on this?

[2020-05-30 14:11] #173 closed

[2020-05-30 16:41] Agontuk commented on #53
It should be fixed in v5.0.0. Sorry for not being able to fix this sooner.

[2020-05-30 16:41] #53 closed

[2020-05-31 17:33] OlivierVoyer commented on #175
Hi @Agontuk , I tried to checkout your new next branch to test the issue I had before with your library but unfortunately, I can't have `pod install` working as i get the same error message:

[code]

Please find attached a test project using that next branch in package.json

[MyApp.zip](https://github.com/Agontuk/react-native-geolocation-service/files/4708091/MyApp.zip)

[2020-05-31 17:34] OlivierVoyer commented on #172
Sorry for the delay, I tried to test the new branch but didn't manage to compile because of https://github.com/Agontuk/react-native-geolocation-service/issues/175#issuecomment-636502776

[2020-05-31 18:59] Agontuk commented on #172
No need to test next branch, it's already published in v5.0.0. This issue should be fixed there, so closing this.

[2020-05-31 18:59] #172 closed

[2020-06-01 06:34] OlivierVoyer commented on #175
@Agontuk : Same missing podspec issue with "react-native-geolocation-service": "^5.0.0" in my package.json.
It looks like a missing dependency that can be manually fixed by running `yarn add @react-native-community/geolocation`.
Maybe only adding it to the README could be an acceptable fix.

[2020-06-01 06:38] OlivierVoyer commented on #172
v5.0.0 is fixing the main issue I described in this thread. Thanks @Agontuk

[2020-06-01 08:00] Agontuk commented on #175
No, it means you're still requiring this from your Podfile or somewhere else. This dependency was removed in v5.0.0. It's not needed.

[2020-06-01 08:18] OlivierVoyer commented on #175
You're 100% right. Sorry, my mistake.
A reference was still present in my Podfile.
Thanks for your support

[2020-06-01 21:57] cristianoccazinsp commented on #173
Nice work!  Just to double check, react-native-geolocation is no longer a dependency?

I wonder if there's any reason to use the "older" library at all now.

[2020-06-02 12:02] codecog commented on #173
Thanks for your work @Agontuk, just to double what Cristiano has asked. Is the other dependency no longer a requirement for the iOS implementation?

[2020-06-02 12:51] Agontuk commented on #173
No, react-native-geolocation dependency is removed in v5.0.0

[2020-06-02 22:11] blumendorf opened #182 "Invariant Violation: Native module cannot be null."
I have been using v4.0.0 without problems.
Updating to v5.0.0 is causing the error below on IOS.
Going back to v4.0.0 (no other changes) fixes the issue.

I just updated the version and ran `yarn install` & `pod install`.
The bridging header is in the project.
React-Native is at 0.62.2.

Are there any other steps we have to complete to upgrade?

[code]

[2020-06-03 07:55] Agontuk commented on #182
Remove any previous version dependency from your podfile. During pod install, does it report to have found `react-native-geolocation-service(5.0.0)` ?

[2020-06-03 09:01] blumendorf commented on #182
It does not report anything about `react-native-geolocation-service` during pod install.

There also doesn't seem to be anything in `Podfile` or the `Podfile.lock`

I also tried deleting the `Podfile.lock` and `Pods` folder (and of course the usual cache cleaning, etc) with no success.

[2020-06-03 13:04] Agontuk commented on #182
Looks like an installation issue. Try removing previous version completely and do a fresh install. If it's available inside node_modules, then pod install should always work.

[2020-06-08 12:26] rikopramayudi opened #183 "Android Unable to retrieve location after first retrieve location"
after first retrieve there's error log '2 Unable to retrieve location'

[code]
and if i put googlePlayServicesVersion = "17.0.0" that make comflict with react-native-camera so i not put that on build.gradle, is there any sugestion?

react-native-cli: 2.0.1
react-native: 0.62.2

[2020-06-09 07:49] vvusts commented on #182
On a completely new project fresh install same problem.

[2020-06-10 04:13] lyseiha commented on #168
any solution for that?

[2020-06-11 07:43] Agontuk commented on #182
Unable to reproduce this, in my case it's installing without any issue.
![image](https://user-images.githubusercontent.com/5656440/84358785-782a7700-abe9-11ea-8d6d-73f4ebe442bd.png)

[2020-06-11 07:48] Agontuk commented on #181
No idea how this is possible. Is this a frequent issue ?

[2020-06-12 09:28] KDederichs commented on #181
It definitely pops up more than once BUT it seems only Samsung devices seem to be affected by that. Maybe they do something to it?

[2020-06-12 09:55] DevilPatels commented on #14
i having issue like this

this is my logcat

java.lang.NoSuchMethodError: No static method getFusedLocationProviderClient(Landroid/content/Context;)Lcom/google/android/gms/location/FusedLocationProviderClient; in class Lcom/google/android/gms/location/LocationServices; or its super classes (declaration of 'com.google.android.gms.location.LocationServices' appears in /data/app/com.drapp-C1klWmBxCro

[2020-06-16 08:24] mukash opened #184 "watchPosition is not working when location is changed"
i am using watchposition for real time tracking but it response only once then its not working. Kindly help me out in it.

this is the code please tell me where am i wrong.

![Screenshot_3](https://user-images.githubusercontent.com/41724730/84750664-05e4d880-afd5-11ea-8767-e827e927b274.png)

[2020-06-18 13:13] Japjappedulap opened #185 "checkPermissions(iOS) feature proposal"
Hey, I'm using this library for my RN app and stumbled upon a lacking feature, that I find pretty useful, namely, a `checkPermissions` or `checkAuthorization` method.

Similar to [`requestAuthorization`](https://github.com/Agontuk/react-native-geolocation-service#async-requestauthorizationauthorizationlevel-ios-only), this would be an iOS feature only, sticking to the principle that android author

[2020-06-18 23:07] blumendorf commented on #182
I finally found some time to look into this again today.

It does not work on a clean project for me either.
-> `react-native init GeoServiceTest`
-> `yarn add react-native-geolocation-service`
-> `cd ios && pod install`
-> add `import Geolocation from 'react-native-geolocation-service';` in App.js
=> `Unhandled JS Exception: Invariant Violation: Native module cannot be null.`

In the clean projec

[2020-06-19 12:56] swaxtic commented on #183
same problem here

[2020-06-19 22:40] allanloji commented on #183
Have you tried putting `playServicesVersion = "17.0.0"`? That works for me.
react-native-geolocation-service: 5.0.0
react-native: 0.62.2
react-native-camera: 3.23.1

[2020-06-20 07:25] Agontuk commented on #184
Set `distanceFilter` to 0 or lower value to get frequent update.

[2020-06-20 15:51] swaxtic commented on #183
@allanloji i have, but still "Unable to retrieve location"

[2020-06-23 12:36] usamamashkoor commented on #102
@ElixirMike did you find any solution for this?

[2020-06-23 12:37] usamamashkoor opened #186 "Get the location updates after each 1 minute?"
Hi, I want to create an app like Uber, and I want to get the location updates of the user after each 1 minute even if the app is running in the background is there a way to do this using your library?

I want the solution to work for both Android and Ios.

kindly let me know Thanks.

[2020-06-27 17:33] jbolotin commented on #182
Experiencing the same problems as @blumendorf during jest testing

[2020-06-29 04:44] lyseiha commented on #186
+1

[2020-06-29 07:00] Agontuk commented on #185
Sure, can you propose an API for this ? The API should work for both android & iOS.

[2020-06-30 23:53] pxl-live commented on #182
Happened to me today on fresh install. latest node && react-native versions. xcode wont launch project

[2020-07-01 00:11] pxl-live commented on #182
Guys! Make sure to create the swift file with bridging support as mentioned on Readme. Game changer, i promise! 🥇

[2020-07-02 04:27] mukash commented on #184
thankyou.

[2020-07-02 05:11] lyseiha commented on #109
@Agontuk how to implement it, could u show sample snippet codes?

[2020-07-02 12:28] felansu commented on #109
@lyseiha i'm working in that now, i think if you create a headlessTask executed each minute for example, and in react native side you register headlesstask for tun Geolocation.getCurrentPosition works.

i'm going to test now!

[2020-07-02 13:06] felansu commented on #109
Works, but getCurrentPosition return the same value always

[2020-07-02 13:34] ravirajn22 opened #187 "How to turn GPS tracking off when app goes to background (Android)"
I have already asked this question before #74 .  Previously I forked this library and added lifecycle listener inside the module and turned location updates on/off when react-native activity changes state.

You could ask me why implement inside the native module when you can directly listen for `AppState` inside JS and start and stop tracking. **Reason:** I wanted `showLocationDialog` to be true,

[2020-07-02 14:43] felansu commented on #109
in options, with maximumAge: 0 works fine, some data duplicated but works fine...

[2020-07-02 17:32] ramkiakil commented on #109
@felansu how to implement it, share some code example?

[2020-07-02 17:52] felansu commented on #109
Sure!

index.js react-native
[code]

In java

<img width="328" alt="image" src="https://user-images.githubusercontent.com/1687697/86393082-e0153000-bc72-11ea-8eeb-5b94cd409361.png">

Package
[code]

Module

[code]

The service:

[code]

And the UserGeolocationEventService
[code]

And finally start the service from react native:

UserGeolocation.startService(token, GPS_DELAY_MILIS);

I put the exam

[2020-07-02 17:57] ramkiakil commented on #109
@felansu  Thanks for your support

[2020-07-02 17:58] felansu commented on #109
Please, test and tell me if works with you 🕺

[2020-07-03 04:22] lyseiha commented on #109
Hello @felansu, Is it working in background and location also update? but yesterday i try it's show location lat and lng always the same number.

[2020-07-03 20:49] 3plusalpha commented on #174
I might have found the cause of the issue on iOS and a possible workaround. Disclaimer: I am not a swift developer - so I might be totally wrong.

Under the hood this library uses swift's `CLLocationManagerDelegate`, which receives events when the location has been updated. So `getCurrentPosition` just asks `CLLocationManagerDelegate` to give back the location, which only happens if the location c

[2020-07-05 22:51] samuk190 opened #188 "getPosition works but WatchPosition not. [React hooks]"
my code, I searched through the issues and put distance filter 0 and interval:5000 still didnt work, it always return null

If i use Geolocation.getCurrentPosition it works, but I want that to be updated continuously
[code]

any idea?

[2020-07-06 01:24] samuk190 commented on #188
I think its my xiaomi phone, but what about the implementation I did right? its the correct way?

[2020-07-06 02:30] #188 closed

[2020-07-06 02:31] samuk190 opened #189 "High Accuracy switch to less accuracy if unavailable?"
Example: no GPS signal, it will get location from network instead automatically or I should detect errors first?

[2020-07-06 12:22] DeVoresyah commented on #183
I got this on iOS only, works fine on Android

[2020-07-08 12:10] manjeets12 commented on #174
still persist on MI series

[2020-07-08 14:48] millisande commented on #108
I get this issue using Android Studio Emulator of a Pixel 2 API 30 using Android 10.0+ and having chosen in my location settings to "Ask every time". It always triggers the error callback. Is this specific to using an emulator?

[2020-07-08 19:20] samuk190 commented on #189
watchPosition does this automatically! Discovered by intensive testing, Thanks for the maintener, great features!

[2020-07-08 19:20] #189 closed

[2020-07-10 06:08] ashim-kansal opened #191 "Location not coming in android 10 when app is in background"
watchPosition doesn't returning location when app is in background but working fine when app is in foreground. I am facing this issue in only android 10 version devices.

[2020-07-13 16:10] jonatanmosner commented on #191
+1

[2020-07-14 05:43] reactnative103 opened #192 "Not working with latest Xcode version 11.5"
I have download the latest Xcode-11.5 and It ask me for permission but give always "POSITION_UNAVAILABLE".

My Info.plist:

<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>desc</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>desc</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>desc</string>

Note: It is working fine with the previous Xcode -10.3.

Pleas